/**************************************************************
* Reset
**************************************************************/

/* Target all elements */
* {
	border: 0;
	font: inherit;
	font-style: normal;
	font-size: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	quotes: none;
	text-decoration:none;
	vertical-align: baseline;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html, body {
	color: $base--text-colour $base--bg-colour;
	font: 16px/$base--line-height $base--font-family;
	font-weight: $base--font-weight;
	letter-spacing: -0.2px;
	max-width: 100%;
	min-width: 320px;
	overflow-x: hidden;

	/* Font smoothing */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	/*
		As a side-effect of setting the @viewport above,
		IE11 & Edge make the scrollbar overlap the content and automatically hide itself when not in use.
		Unfortunately, the auto-showing of the scrollbar is sometimes too sensitive,
		thus making it hard to click on stuff near the right edge of the page.
		So we add this style to force IE11 & Edge to use a "normal", non-overlapping, non-auto-hiding scrollbar.
		See https://github.com/twbs/bootstrap/issues/18543
	*/
	-ms-overflow-style: scrollbar;
	/* Changes the default tap highlight to be completely transparent in iOS */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-family: $ff--3;
	margin: 0;
	padding: 0;
}

/*	HTML 5 Elements */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,main,summary {
	display: block;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
    vertical-align: middle;
	height:auto;
	max-width:100%;
}

textarea {
    resize: vertical;
}

input,
textarea{
    user-select:text;
}

/**
* Highlighting text in browser
*/
::selection {
    color: $c--highlight-text $c--highlight-bg !important;
    text-shadow: none;
}

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

button:focus,
input:focus,
a:focus {outline:0;}
[tabindex="-1"]:focus {
	outline: none !important;
}

/*
	Make viewport responsive

	@viewport is needed because IE 10+ doesn't honor <meta name="viewport"> in
	some cases. See http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/.
	Eventually @viewport will replace <meta name="viewport">.
*/
@-ms-viewport {
	width: device-width;
}
