/**************************************************************
* Section hero area
* NOTE: Used to re-order the hero and section menu on different devices
**************************************************************/

header.section-hero-wrap {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;

	@media (--xl-down) {
		margin-bottom: 40px;

		section.standard-hero { order: 1; }
		nav.section-menu { order: 0; }
		
	}

}



/* END OF DOCUMENT */
