/**************************************************************
* Body wrapper
**************************************************************/

body > main.base {
	
	/**
	* Sticky header
	*/
	&.header-sticky {
		padding-top: 89px;

		@media (--lg-up) { padding-top: 146px; }
		@media (--xs-lg) { padding-top: 129px; }

		header.primary.sticky-header:not(.has-section-menu) { box-shadow: 0 0 30px -2px rgba(0,0,0,.35); }

		nav.section-menu.sticky > .inner { box-shadow: 0 0 30px -2px rgba(0,0,0,.35); }

	}

	/**
	* Left padding (allow room for sticky social
	*/
	@media only screen and (min-width: 1400px) and (max-width: 1440px) {

		section.standard-hero { padding-left: 45px; }

	}

	@media only screen and (min-width: 1230px) and (max-width: 1400px) {

		section.standard-hero, nav.breadcrumbs, main.base-content > section, nav.programme-pagination { padding-left: 80px; }

		nav.section-menu .inner { padding-left: 90px; }

	}

	@media only screen and (min-width: 1024px) and (max-width: 1230px) {

		section.standard-hero, nav.breadcrumbs, main.base-content > section, nav.programme-pagination { padding-left: 35px; }

		nav.section-menu .inner { padding-left: 45px; }

	}

}


/* END OF DOCUMENT */
