/**************************************************************
* Pagination: Programme sub-pages
**************************************************************/

nav.programme-pagination {
	padding: 46px 0 40px;
	position: relative;
	width: 100%;

	@media (--lg-up) { padding: 80px 0 60px; }

    /* Top padding */
    &.top-padding-40 { padding-top: 40px !important; }
    &.top-padding-20 { padding-top: 20px !important; }
    &.no-top-padding { padding-top: 0 !important; }
    &.no-top-padding-desktop {
    	@media (--lg-up) { padding-top: 0 !important; }
    }

    /* Remove top border */
    &.no-top-border .container > .inner { border-top: 0; }

    /* Container */
	.container {
		@extend %wrapper--1;

		> .inner {
			align-items: stretch;
			display: flex;
			justify-content: space-between;
		}

		@media (--lg-xxxl) { padding: * 50px; }

		@media (--lg-up) {

			> .inner {
				border-top: 1px solid rgba($c--25, .24);
				padding-top: 34px;
			}

		}

	 }

	 	/**
		* Links
		*/
		.link {
			display: inline-block;
			flex: 1 1 50%;
			text-align: left;
			vertical-align: top;

			a {
				display: inline-block;
				text-decoration: none;

				/* Hover */
				&:hover span.title { text-decoration: underline; }

			}

			/* Text */
			span {
				display: block;
				font-family: $ff--1;

				/* Label (direction) */
				&.label {
					@extend %ts--9;
					color: $c--22;
					font-weight: $fw--bold;
					letter-spacing: .72px;
					margin-bottom: 12px;
					text-transform: uppercase;
				}

				/* Title */
				&.title {
					@extend %ts--12;
					color: $c--24;
					font-weight: $fw--semibold;
					letter-spacing: -.33px;
					position: relative;

					/* Arrow */
					&::after {
						background: transparent url('/wbs2020/media/dist/img/header-subpane-arrow-desktop.svg') no-repeat center / 10px 15px;
						content: "";
						display: none;
						margin: auto 0;
						position: absolute 0 *;
						size: 10px 15px;
						transform-origin: center;
					}

				}

			}

			/* Separator line */
			+ .link {
				max-width: calc(50% - 20px);

				@media (--lg-down) {
					position: static;

					&::before {
						background: rgba($c--25, .32);
						content: "";
						margin: auto;
						position: absolute 0 50% 0 *;
						size: 1px 64px;
					}

				}

			}

			/**
			* Directions
			*/
			&.prev { text-align: left; }
			&.next { text-align: right; }

			@media (--lg-up) {

				/* Arrow */
				span.title::after { display: block; }

				/**
				* Previous
				*/
				&.prev span {
					padding-left: 31px;

					/* Arrow */
					&.title::after {
						left: 0;
						transform: rotate(180deg);
					}

				}

				/**
				* Next
				*/
				&.next span {
					padding-right: 31px;

					/* Arrow */
					&.title::after { right: 0; }

				}

			}

		}

	/* Single */
	@media (--lg-down) {

		&.prev-only {

			.container > .inner { justify-content: flex-end; }

				.link {
					max-width: calc(50% - 20px);
					text-align: right;

					&::before {
						background: rgba($c--25, .32);
						content: "";
						margin: auto;
						position: absolute 0 50% 0 *;
						size: 1px 64px;
					}

				}

		}

	}

	/***************
	* Lazy-loading
	***************/
	&.view-detect {
		opacity: 0;
		transition: all 1.2s ease-in-out-quart 0s;

		/**
		* Loaded
		*/
		&.viewed { opacity: 1; }

	}

}


/* END OF DOCUMENT */
