/**************************************************************
* Section menu
**************************************************************/

nav.section-menu {
	display: block;
	margin-bottom: 10px;
	overflow: visible;
	position: relative;
	size: 100% 58px;
    z-index: 998;

	.inner {
		color: $c--9 $c--tone-6;
		display: block;
		position: absolute 0 0 *;
		width: 100%;
	}

	/**
	* Sticky
	*/
	&.sticky {
		z-index: 9998;
		.inner { position: fixed 70px * *; }
	}

	.top {
		@extend %ts--9;
		align-items: center;
		background: transparent url('/wbs2020/media/dist/img/section-menu-burger.svg') no-repeat center left $gutter--mobile / 14px 12px;
		cursor: pointer;
		display: flex;
		justify-content: flex-start;
		font-family: $ff--1;
		font-size: 11px;
		font-weight: $fw--bold;
		letter-spacing: .72px;
		min-height: 60px;
		padding: 0 $gutter--mobile 0 38px;
		position: relative;
		text-transform: uppercase;

		/* Line */
		&::before {
			background: #979797;
			content: "";
			margin: auto 0;
			opacity: .5;
			position: absolute 0 50px 0 *;
			size: 1px 12px;
		}

		/* Arrow */
		&::after {
			background: transparent url('/wbs2020/media/dist/img/header-subpane-arrow-desktop.svg') no-repeat center / 10px 15px;
			content: "";
			margin: auto 0;
			position: absolute 0 20px 0 *;
			size: 10px 15px;
			transition: transform .5s ease;
			transform-origin: center;
			transform: rotate(90deg);
		}

	}

	ul {
		display: none;
		font-size: 0;

		li {
			display: block;
			position: relative;
			width: 100%;

			a {
				@extend %ts--9;
				align-items: center;
				color: $c--9 transparent;
				display: flex;
				font-family: $ff--1;
				font-size: 13px;
				font-weight: $fw--semibold;
				justify-content: flex-start;
				letter-spacing: .72px;
				min-height: 50px;
				padding: 16px $gutter--mobile;
				position: relative;
				text-transform: uppercase;
				text-decoration: none;
			}

				span { display: block; }

			/* Arrow */
			&::after {
				background: transparent url('/wbs2020/media/dist/img/header-subpane-arrow-desktop.svg') no-repeat center / 10px 15px;
				content: "";
				margin: auto 0;
				position: absolute 0 20px 0 *;
				size: 10px 15px;
				transition: transform .5s ease;
				transform-origin: center;
			}

		}

	}

	@media (--lg-up) {
		margin-bottom: 0;
		text-align: center;

		.container { @extend %wrapper--1; }

			.top { display: none; }

			ul {
				align-items: stretch;
				display: flex !important;
				justify-content: flex-start;
				opacity: 1 !important;

				li {
					align-items: center;
					display: inline-flex;
					flex: 1 1 auto;
					justify-content: center;
					width: auto;

					a {
						align-items: center;
						flex: 1 1 auto;
						font-size: 11px;
						display: flex;
						justify-content: center;
						overflow: hidden;
						padding: 22px 20px;
						position: relative;
						transition: all .175s ease-in-out;

						&::after {
							background: $c--23;
							content: "";
							opacity: 0;
							position: absolute * 0 0;
							size: 100% 1px;
							transition: opacity .175s ease-in-out;
						}

					}

					&:hover a,
					&.current a {
						color: $c--3 #fff;

						&::after { opacity: 1; }

					}

					&::after { display: none; }

				}

			}

	}

	@media (--lg-down) {

		ul li {

			&:not(:last-of-type) { border-bottom: 1px solid $c--tone-7; }

			&:last-of-type {
				padding-bottom: 12px;

				&::after {
					bottom: auto;
					top: 20px;
				}

			}

		}

	}

	@media (--sm-lg) {

		.top {
			background-position: center left $gutter--tablet;
			padding: 0 $gutter--tablet 0 50px;
		}

		ul li a { padding: 0 $gutter--tablet; }

	}

    /***************
    * Lazyloading
    ***************/
	@media (--lg-up) {

		.view-detect {
			opacity: 0;
			transition: all 1.2s ease-in-out-quart 0s;

			/**
			* Loaded
			*/
			&.viewed { opacity: 1; }

		}

	}

}


/* END OF DOCUMENT */
