/**************************************************************
* Case study carousel
**************************************************************/

section.case-study-carousel {
	display: block;
	overflow: hidden;
	width: 100%;

	/* Margin bottom */
	&.margin-bottom-m40-d55 {
		margin-bottom: 40px;
		@media (--lg-up) { margin-bottom: 55px; }
	}

	/**
	* Container
	*/
	> .container {
		@extend %wrapper--1;
		width: 100%;
	}

		/**
		* Header
		*/
		header {
			display: block;
			margin-bottom: 55px;

			.title {
				@extend %ts--1;
				color: $c--24;
				display: block;
				font-family: $ff--1;
				margin-bottom: 12px;
			}

			.description {
				color: $c--5;

				p:not(:last-of-type) { margin-bottom: 20px; }

			}

		}

		/***************
		* Carousel
		***************/
		main {
			display: block;

			li {
				list-style: none;

				@media (--lg-up) {
					align-items: stretch;
					background: $c--tone-4;
					display: flex !important;
					justify-content: space-between;
					padding: 50px;

					aside.image,
					aside.content {
						display: inline-block;
						flex: 1 1 calc(50% - 20px);
						max-width: calc(50% - 20px);
						min-width: calc(50% - 20px);
						vertical-align: top;
					}

					aside.image { padding-right: 42px; }

				}

				/**
				* Image
				*/
				aside.image {
					overflow: hidden;
					position: relative;

					.src {
						@extend %cover-bg;
						display: block;
						height: 0;
						padding-bottom: 55.224%;

						@media (--lg-up) {
							@extend %absolute-fill;
							height: 100%;
							padding-bottom: 0;
						}

					}

				}

				/**
				* Content
				*/
				aside.content {

					@media (--lg-down) { padding: 30px 0; }

				}

					/**
					* Person
					*/
					blockquote {
						@extend %ts--17;
						color: $c--21;
						font-family: $ff--2;
						overflow: visible;
						position: relative;

						&::before {
							color: inherit;
							content: "\201C";
							font-size: 22px;
							position: absolute 0px * * -10px;
						}

						p:not(:last-of-type) { margin-bottom: 17px; }

					}

					/**
					* Person
					*/
					.person {
						margin-top: 15px;

						.text {
							color: $c--black;
							display: block;
							line-height: 1.525em;

							.title {
								font-weight: $fw--bold;
								display: block;
								letter-spacing: -.16px;
							}

							.sub {
								display: block;
								font-weight: $fw--reg;
								letter-spacing: -.17px;
							}

						}

					}

					/**
					* Button
					*/
					.button {
						display: block;
						margin-top: 25px;

						a {
							@extend %btn--5;
							background-color: transparent;
							background-position: center !important;
							background-size: 100% !important;
							padding: 20px 55px;

							span {
								background: transparent url('/wbs2020/media/dist/img/solid-button-arrow-white.svg') no-repeat left 0 center / 10px 15px;
								display: block;
								min-height: 15px;
								padding-left: 20px;
							}

						}

					}

			}

			@media (--lg-down) {

				.slick-list {
					margin: 0 -15px;
					padding: 15px * !important;
				}

					.slick-slide { margin: 0 15px; }

						aside.image .src { transition: all .3s ease-in-out; }

					.slick-center aside.image .src { transform: scale(1.08); }

			}

			/**
			* Thumbnails
			*/
			ul.slick-dots {

				@media (--lg-up) {
					align-items: stretch;
					cursor: pointer;
					display: flex;
					font-size: 0;
					justify-content: center;
					margin: 2px -1px 0;

					li {
						display: inline-block;
						flex: 1 1 auto;
						list-style: none;
						max-width: 151px;
						margin: 0 1px;
						height: 0;
						padding-bottom: 3.437%;
						overflow: hidden;
						position: relative;

						&::after {
							@extend %absolute-fill;
							background: transparent;
							box-shadow: inset 0 0 0 3px $c--2;
							content: "";
							opacity: 0;
							transition: all .3s ease-in-out;
							z-index: 1;
						}

						.thumbnail {
							@extend %absolute-fill;
							@extend %cover-bg;
							opacity: .5;
							transition: all .3s ease-in-out;
							z-index: 0;
						}

						/* Hover */
						&:hover .thumbnail { opacity: .7; }

						/* Active */
						&.slick-active {

							&::after { opacity: 1; }

							.thumbnail { opacity: 1; }

						}

					}

				}

				@media (--lg-down) {
					display: block;
					margin-top: 26px;
					text-align: center;

					li {
						display: inline-block;
						margin: 0;

						button {
							appearance: none;
							color: transparent;
							cursor: pointer;
							display: block;
							font-size: 0;
							outline: none;
							overflow: hidden;
							position: relative;
							size: 24px;
							text-indent: -999px;

							&::after {
								background: rgba($c--7, .14);
								border-radius: 100%;
								content: "";
								margin: auto;
								position: absolute 0;
								size: 7px;
								transition: all .2s ease-in-out;
							}

						}

						/* Active */
						&.slick-active button::after { background-color: $c--7; }

					}

				}

			}

		}

	/***************
	* Programme colours
	***************/
	&.programme--undergrad {
		header > .title, blockquote { color: $c--programme-undergrad; }
		.button a {
			background: $c--programme-undergrad--dark;
			transition: all .2s ease;
			&:not(:hover) { background-image: linear-gradient(to right, $c--programme-undergrad, $c--programme-undergrad--dark); }
		}
	}
	&.programme--postgrad {
		header > .title, blockquote { color: $c--programme-postgrad; }
		.button a {
			background: $c--programme-postgrad--dark;
			transition: all .2s ease;
			&:not(:hover) { background-image: linear-gradient(to right, $c--programme-postgrad, $c--programme-postgrad--dark); }
		}
	}
	&.programme--mba {
		header > .title, blockquote { color: $c--programme-mba; }
		.button a {
			background: $c--programme-mba--dark;
			transition: all .2s ease;
			&:not(:hover) { background-image: linear-gradient(to right, $c--programme-mba, $c--programme-mba--dark); }
		}
	}
	&.programme--doctoral {
		header > .title, blockquote { color: $c--programme-doctoral; }
		.button a {
			background: $c--programme-doctoral--dark;
			transition: all .2s ease;
			&:not(:hover) { background-image: linear-gradient(to right, $c--programme-doctoral, $c--programme-doctoral--dark); }
		}
	}
	&.programme--exec {
		header > .title, blockquote { color: $c--programme-exec; }
		.button a {
			background: $c--programme-exec--dark;
			transition: all .2s ease;
			&:not(:hover) { background-image: linear-gradient(to right, $c--programme-exec, $c--programme-exec--dark); }
		}
	}
	&.programme--london {
		header > .title, blockquote { color: $c--programme-london; }
		.button a {
			background:  $c--programme-london;
			transition: all .2s ease;
			&:not(:hover) { background-image: linear-gradient(to right, $c--1, $c--programme-london); }
		}
	}

	/***************
	* Lazy-loading
	***************/
	&.view-detect {
		opacity: 0;
		transition: all 1.2s ease-in-out-quart 0s;

		/**
		* Loaded
		*/
		&.viewed { opacity: 1; }

	}

}



/* END OF DOCUMENT */
