/**************************************************************
* About Section
**************************************************************/

.about-section {
    padding: 38px 0 32px;

    @media (--md-xl) {
        padding: 41px 0 32px;
    }

    @media (--xl-up) {
        padding: 105px 0 100px;
    }

    .container {
        @extend %wrapper--1;
        padding: 0 10px;
    }

    .row-flex {
        display: flex;
        flex-wrap: wrap;

        @media (--xl-up) {
            align-items: flex-start;
        }

        @media (--md-up) {
            align-items: center;
            justify-content: space-between;
        }
    }

    .about-description {
        box-sizing: border-box;
        flex: 0 0 100%;
        margin-bottom: 40px;
        margin-top: 0;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        width: 100%;

        @media (--md-up) {
            max-width: 54%;
            flex: 0 0 54%;
            padding-right: 30px;
        }

        @media (--xl-up) {
            margin-bottom: 0;
            max-width: 58%;
            flex: 0 0 58%;
        }
    }

    .about-blockquote {
        align-items: center;
        background-color: #E6EDF4;
        box-sizing: border-box;
        display: flex;
        flex: 0 0 100%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 360px;
        min-height: 200px;
        position: relative;
        width: 100%;

        @media (--md-up) {
            flex: 0 0 380px;
            height: 382px;
            margin: 8px 0 0;
            max-height: 382px;
            max-width: 380px;
        }

        @media (--xl-up) {
            flex: 0 0 453px;
            height: 455px;
            max-height: 455px;
            max-width: 453px;
        }

        &::before {
            border-top: 60px solid $c--white;
            border-left: 60px solid transparent;
            border-right: 60px solid transparent;
            content: '';
            position: absolute 0 * * 0;
            transform: translate(-50%, 0);
            z-index: 100;
        }

        &::after {
            border-bottom: 60px solid $c--white;
            border-left: 60px solid transparent;
            border-right: 60px solid transparent;
            content: '';
            position: absolute * 0 0 *;
            transform: translate(50%, 0);
            z-index: 100;
        }
    }

    .about-blockquote-inner {
        padding: 49px 42px 65px 52px;
        position: relative;
        width: calc(100% - 14px);
        height: calc(100% - 14px);
        background-color: $c--white;
        overflow: hidden;
        box-sizing: border-box;

        @media (--md-up) {
            margin: 6px 0;
        }

        @media (--xl-up) {
            padding: 59px 42px 65px 59px;
        }

        &::before {
            content: '';
            position: absolute;
            left: -19px;
            top: 17px;
            width: 100px;
            height: 7px;
            background-color: #E6EDF4;
            transform: rotate(-45deg);
        }

        &::after {
            content: '';
            position: absolute;
            right: -19px;
            bottom: 17px;
            width: 100px;
            height: 7px;
            background-color: #E6EDF4;
            transform: rotate(-45deg);
        }

    }

    .about-blockquote-cite {
        position: relative;
        margin: 0 0 38px;
        color: $c--3;
        font-family: $ff--2;
        font-size: 23px;
        line-height: 31px;

        &::before {
            content: '“';
            font-size: 28px;
            font-weight: $fw--bold;
            position: absolute -1px * * -16px;
        }

        @media (--xl-up) {
            font-size: 26px;
            line-height: 36px;
            margin: 0 0 36px;
        }

    }

    .about-blockquote-meta {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        margin-left: -11px;
        padding-left: 0;

        @media (--xl-up) {
            margin-left: 0;
        }
    }

    .about-blockquote-avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 16px;
        overflow: hidden;
        position: relative;

        @media (--xl-up) {
            margin-right: 13px;
        }

        img {
            @extend %cover-img
        }
    }

    .about-blockquote-caption {
        letter-spacing: 0.1px;

        @media (--xl-up) {
            margin-top: -8px;
        }

        .name {
            color: $c--black;
            font-family: $ff--1;
            font-size: 14px;
            font-weight: $fw--bold;
            letter-spacing: -0.17px;
            line-height: 22px;
            margin: 0;
        }

        .faculty {
            color: $c--black;
            font-family: $ff--1;
            font-size: 14px;
            font-weight: $fw--reg;
            letter-spacing: -0.17px;
            line-height: 22px;
            margin: 0 0 0;
        }

    }

    .about-description-title {
        @extend %ts--15;
        color: $c--3;
        font-family: $ff--1;
        font-weight: $fw--semibold;
        letter-spacing: -.01875em;
        margin-bottom: 20px;
        max-width: 400px;

        @media (--xl-up) { margin-bottom: 30px; }

        @media (--md-up) {
            font-size: 42px;
            margin-bottom: 40px;
        }

        @media (--sm-md) { font-size: 32px; }

        @media (--sm-up) { margin-bottom: 26px; }

    }

    .about-description {
        p {
            margin: 0 0 20px;
            line-height: 29px;

            @media (--xl-up) {
                margin: 0 0 30px;
                line-height: 28px;
            }

            &.big {
                color: $c--11;
                font-weight: $fw--semi;
                font-size: 20px 31px;
                margin-bottom: 20px;

                @media (--xl-up) {
                    font-size: 24px 36px;
                    margin-bottom: 24px;
                }

            }
        }

        .link-view-all {
            @extend %btn--1;
            margin-top: 15px;
            padding-right: 43px;

            @media (--xl-up) { padding-right: 54px; }

        }
    }

    /***************
	* Lazy-loading
	***************/
	&.view-detect {
		opacity: 0;
		transition: all 1.2s ease-in-out-quart 0s;

		/**
		* Loaded
		*/
		&.viewed { opacity: 1; }

	}

}



/* END OF DOCUMENT */
