/**************************************************************
* Events index
**************************************************************/

section.events-index {
    background: $c--tone-4;
    display: block;
    padding: 12px 0 40px;
    width: 100%;

    @media (--lg-up) { padding: 95px 0; }

    /* Disable bottom margin */
    &.no-bottom-margin { margin-bottom: 0 !important; }

    /***************
    * Containers
    ***************/
    > .container {
        @extend %wrapper--1;
        width: 100%;

        > .inner {
            display: block;
			width: 100%;
		}

		@media (--lg-xxxl) { padding: 0 50px; }

		@media (--lg-up) {

	        > .inner {
				align-items: flex-start;
				display: flex;
				flex-wrap: nowrap;
				justify-content: flex-start;
			}

		}

    }

        /***************
        * Filters (sidebar)
        ***************/
        aside.filters {
            display: block;
            margin-bottom: 40px;
            padding-top: 14px;
            position: relative;

            > .inner {
                background: #EBECEE;
                display: block;
            }

            @media (--lg-up) {
                display: inline-block;
                flex: 0 0 400px;
                margin-bottom: 0;
                max-width: 400px;
                padding-top: 0;
                vertical-align: top;

                > .inner {
                    box-shadow: 0 1px 0 0 #ADBAC1;
                    padding: 35px 30px 25px;
                }

            }

                /**
                * Mobile toggle
                */
                header.mobile-toggle {

                    a {
                        @extend %ts--9;
                        align-items: center;
                        background: rgba(#242525,.06);
                        color: $c--black;
                        cursor: pointer;
                        display: flex;
                        font-family: $ff--1;
                        font-weight: $fw--bold;
                        justify-content: flex-start;
                        margin-bottom: 16px;
                        padding: 10px 20px;
                        position: relative;
                        size: 100% 70px;
                        text-align: center;
                        text-decoration: none;
                        text-transform: uppercase;

                        /* Arrow */
                        &::after {
                            background: transparent url('/wbs2020/media/dist/img/index-accordion-arrow.svg') no-repeat center / 10px 15px;
                            content: "";
                            margin: auto 0;
                            position: absolute 0 20px 0 *;
                            size: 10px 15px;
                            transition: transform .5s ease;
                            transform-origin: center;
                        }

                    }

                    @media (--lg-up) { display: none; }

                }

                /**
                * Sidebar title
                */
                .sidebar-title {
                    @extend %ts--2;
                    color: $c--8;
                    display: none;
                    margin-bottom: 35px;

                    @media (--lg-up) { display: block; }

                }

                /**
                * Inputs
                */
                main.form {
                    display: none;
                    font-style: 0;
                    padding: 22px 20px 35px;

                    @media (--lg-up) {
                        display: block !important;
                        opacity: 1 !important;
                        padding: 0;
                    }

                    @media (--lg-down) { display: none !important; }

                }

                    .input-group {

                        &:not(:last-of-type) {
                            border-bottom: 1px solid rgba(#979797,.2);
                            margin-bottom: 35px;
                            padding-bottom: 35px;
                        }

                        /* Title */
                        > .title {
                            @extend %ts--5;
                            color: #090909;
                            display: block;
            				font-family: $ff--1;
            				font-weight: $fw--bold;
            				letter-spacing: .0725em;
                            margin-bottom: 26px;
            				text-transform: uppercase;
                        }

                        /* Inputs */
                        ul {
                            align-items: flex-start;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            margin: 0 -3px;
                            width: calc(100% + 6px);

                            /* Input */
                            li {
                                @extend %input--filter;
                                flex: 1 1 auto;
                                padding: 0 3px;
                            }

                        }

                    }

                    /**
                    * Submit button
                    */
                    .submit {
                        display: block;
                        margin-top: 25px;

                        button {
                            @extend %ts--9;
                            box-shadow: 0 3px 7px 0 rgba(0,0,0,0.03);
                            color: #fff #242525;
                            display: inline-block;
                            font-family: $ff--1;
                            font-weight: $fw--bold;
                            letter-spacing: .72px;
                            text-align: center;
                            text-transform: uppercase;
                            transition: all 0.2s ease-in;
                            margin: 0;
                            padding: 14px 20px 15px;
                            width: 100%;

                            /* Disabled */
                            &:disabled {
                                color: #fff #2F2F2F;
                                opacity: .17;
                            }

                        }

                    }

                /**
                * Call-to-actions
                */
                footer.cta {
                    display: none;
                    margin-top: 40px;

                    @media (--lg-up) { display: block; }

                }

        }

    	/***************
    	* Content
    	***************/
        main.listing {
    		display: block;

            @media (--lg-up) {
        		display: inline-block;
                flex: 1 1 calc(100% - 400px);
                padding-left: 64px;
                vertical-align: top;
            }

    	}

            /**
            * Search bar
            */
            nav.search-bar {
                display: block;
                font-size: 0;
                margin-bottom: 30px;
                position: relative;

                input[type="text"] {
                    border: 1px solid #979797;
                    border-radius: 30px;
                    color: #000 #fff;
                    display: block;
                    font-family: $ff--1;
                    font-size: 10px 1em;
                    font-weight: $fw--bold;
                    letter-spacing: .1025em;
                    margin: auto 0;
                    text-transform: uppercase;
                    padding: 0 30px;
                    size: 100% 62px;
                    z-index: 0;

                    &::placeholder { color: #000; }

                }

                button, input[type='submit'] {
                    appearance: none;
                    background: transparent url('/wbs2020/media/dist/img/header-search-icon.svg') no-repeat center / 15px;
                    border-radius: 100%;
                    color: transparent;
                    cursor: pointer;
                    font-size: 0;
                    margin: auto 0;
                    position: absolute 0 0 * *;
                    size: 62px;
                    z-index: 1;
                }

                @media (--lg-up) { margin-bottom: 50px; }

            }

    /***************
	* Lazy-loading
	***************/
	&.view-detect {
		opacity: 0;
		transition: all 1.2s ease-in-out-quart 0s;

		/**
		* Loaded
		*/
		&.viewed { opacity: 1; }

	}

}



/* END OF DOCUMENT */
