/**************************************************************
* Programme Animate Section
**************************************************************/
.programme-animate-section {
    background: #fff url('/wbs2020/media/dist/img/theshard-bg.jpg') no-repeat center / cover;
    overflow: hidden;
    position: relative;
    width: 100%;

    @media (--lg-up) { min-height: 1077px; }

    /***************
    * Fade
    ***************/
    .fade-top, .fade-bottom {
        display: none;
        pointer-events: none;
        position: absolute * 0;
        size: 100% 337px;
        z-index: 4;

        @media (--lg-up) { display: block; }

    }

    .fade-top {
        background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
        top: 0;
    }

    .fade-bottom {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
        bottom: 0;
    }

    /***************
    * Cityscape
    ***************/
    .cityscape {
        background: transparent url('/wbs2020/media/dist/img/cityscape.png') no-repeat center / cover;
        padding-bottom: 60%;
        pointer-events: none;
        position: relative * * 0 0;
        size: 100% auto;
        z-index: 3;

        @media (--lg-up) {
            size: 1438px 862px;
            padding-bottom: 0;
            position: absolute;
        }

        @media only screen and (min-width: 1438px) {
            padding-bottom: 60%;
            size: 100% 0;
        }

    }

    /***************
    * Content
    ***************/
    .content {
        @extend %wrapper--1;
        background-color: $c--12;
        padding: 30px *;

        @media (--lg-up) {
            background-color: transparent;
            padding: 155px * 385px;
        }

    }

        .content-outer {
            display: block;
            font-size: 0;
            position: relative;
            z-index: 2;

            @media (--lg-up) {
                display: inline-block;

                /* Top borders */
                &::before, &::after {
                    content: "";
                    display: block;
                }

                &::before {
                    border-bottom: 7px solid $c--3;
                    position: absolute 77px * * -4px;
                    transform: rotate(-45deg);
                    transform-origin: left;
                    width: 110px;
                }

                &::after {
                    border-top: 7px solid $c--3;
                    border-right: 7px solid $c--3;
                    position: absolute 78px -7px * *;
                    size: calc(100% - 65px) 78px;
                    transform: translate(0, -100%);
                }

                /* Prop */
                .prop {

                    @media (--lg-up) {
                        display: inline-block;
                        size: 0;
                        padding-bottom: 100%;
                        vertical-align: top;

                        /* Side borders */
                        &::before {
                            border-right: 7px solid $c--3;
                            border-left: 7px solid $c--3;
                            content: "";
                            position: absolute 78px -7px;
                            size: calc(100% + 14px) calc(100% - calc(78px * 2));
                        }

                    }

                }

            }

            .content-inner {
                display: inline-block;
                font-size: 16px;
                vertical-align: top;
                width: 100%;
                
                /* Bottom borders */
                &::before, &::after {
                    content: "";
                    display: none;
                    position: absolute;
                }

                &::before {
                    border-bottom: 7px solid $c--3;
                    bottom: 77px;
                    right: -4px;
                    transform: rotate(-45deg);
                    transform-origin: right;
                    width: 110px;
                }

                &::after {
                    border-bottom: 7px solid $c--3;
                    border-left: 7px solid $c--3;
                    bottom: 78px;
                    left: -7px;
                    size: calc(100% - 65px) 78px;
                    transform: translateY(100%);
                }

                @media (--lg-up) {
                    max-width: 700px;
                    min-width: 550px;
                    padding: 78px 60px;

                    &::before, &::after { display: block; }

                }

            }

                .title {
                    @extend %ts--15;
                    color: #fff;
                    font-family: $ff--1;
                    font-weight: $fw--semibold;
                    letter-spacing: -.01875em;
                    margin-bottom: 17px;

                    @media (--lg-up) {
                        @extend %ts--1;
                        color: $c--3;
                        font-family: $ff--2;
                    }

                    @media (--md-up) { font-size: 42px; }

                    @media (--sm-md) { font-size: 32px; }

                    br {
                        display: none;

                        @media (--lg-up) {
                            display: inline;
                        }
                    }

                }

                .list {
                    display: inline;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    padding-right: 25px;

                    @media only screen and (min-width: 768px) and (max-width: 1024px) {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    li {
                        position: relative;
                        padding-left: 28px;
                        margin-bottom: 9px;

                        @media (--lg-up) {
                            margin-bottom: 5px;
                            padding-left: 23px;
                            width: 100%;
                            max-width: 100%;
                            flex: 0 0 100%;
                        }

                        @media only screen and (min-width: 768px) and (max-width: 1024px) {
                            flex: 0 0 50%;
                            max-width: 50%;
                            width: 100%;
                        }

                        @media only screen and (min-width: 768px) { width: 50%; }

                        &:last-child { margin-bottom: 0; }

                        &::before {
                            content: "";
                            width: 9px;
                            height: 9px;
                            border-bottom: 2.4px solid $c--white;
                            border-right: 2.4px solid $c--white;
                            transform: rotate(-45deg);
                            opacity: .56;
                            position: absolute;
                            left: -2px;
                            top: 11px;

                            @media (--lg-up) {
                                border-bottom: 2.4px solid $c--3;
                                border-right: 2.4px solid $c--3;
                                opacity: 1;
                            }

                        }

                        a {
                            color: $c--white;
                            font-family: $ff--1;
                            font-size: 11px;
                            font-weight: $fw--bold;
                            letter-spacing: 0.72px;
                            line-height: 24px;
                            text-transform: uppercase;
                            text-decoration: none;
                            transition: all .2s ease-in-out;

                            @media (--lg-up) {
                                font-size: 12px;
                                color: $c--4;

                                &:hover { opacity: .6; }

                            }
                        }

                    }

                }

        }

    /***************
    * Cloud
    ***************/
    .cloud {
        position: absolute 150px * * calc(50% - 40px);
        display: none;
        pointer-events: none;
        z-index: 1;

        @media (--lg-up) { display: block; }

    }

    /***************
    * Lazyloading
    * See fnInViewDetect.js
    ***************/
    @media (--lg-up) {

        .cityscape {
            transform: scale(1.35);
            transition: all 2.15s ease .15s;
        }

        .content-outer {
            opacity: 0;
            transform: translateY(200px);
            transition: all 2.15s ease .15s;
        }

        .cloud {
            transform: translateX(240px);
            transition: all 5s ease .3s;
        }

        &.viewed {

            .cityscape { transform: none; }

            .content-outer {
                opacity: 1;
                transform: none;
            }

            .cloud { transform: none; }

        }

    }

    /***************
    * Lazy-loading
    ***************/
    &.view-detect {
        opacity: 0;
        transition: all 1.2s ease-in-out-quart 0s;

        /**
        * Loaded
        */
        &.viewed { opacity: 1; }

    }

}



/* END OF DOCUMENT */
