/**************************************************************
* Case study index
**************************************************************/

section.case-study-index {

    /* Margin bottom */
    &.margin-bottom-40 { margin-bottom: 40px; }

    /**
    * Header
    */
    header {
        display: block;
        margin-bottom: 42px;

        /* Title */
        > .title {
            @extend %ts--1;
            color: $c--24;
            font-family: $ff--1;
            font-weight: $fw--semibold;
            margin-bottom: 20px;
        }

    }

    /**
    * Listing
    */
    @media (--md-up) {

        main.list {
            align-items: stretch;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

    }

        /**
        * Case study
        */
        article.case-study {

            &:not(:last-of-type) { margin-bottom: 40px; }

            @media (--md-up) {
                flex: 0 0 calc(50% - 20px);
                max-width: calc(50% - 20px);

                &:not(:last-of-type) { margin-bottom: 0; }

            }

            @media (--md-down) {
                &:not(:last-of-type) {
                    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
                    padding-bottom: 30px;
                }
            } 

        }

    /**
    * Footer
    */
    footer {
        margin-top: 60px;

        /* View all */
        .view-all a {
            @extend %btn--1;
            color: rgba(0,0,0,.81) !important;
            opacity: 1;
        }

        @media (--md-up) {
            display: flex;
            justify-content: flex-end;

            /* View all */
            .view-all { text-align: right; }

        }

    }

    /***************
	* Lazy-loading
	***************/
	&.view-detect {
		opacity: 0;
		transition: all 1.2s ease-in-out-quart 0s;

		/**
		* Loaded
		*/
		&.viewed { opacity: 1; }

	}

}



/* END OF DOCUMENT */
