/**************************************************************
* Programmes overview
**************************************************************/

section.programmes-overview {
    display: block;
    margin-bottom: 30px;
    width: 100%;

	@media (--lg-up) { margin-bottom: 60px; }

    /* Container */
    .container {
        @extend %wrapper--1;
        width: 100%;

        /* Box */
        > .inner {
			background: $c--tone-6;
            display: block;
			padding: 40px 25px 30px;
			width: 100%;
		}

		@media (--lg-xxxl) { padding: 0 50px; }

		@media (--lg-up) {

	        /* Box */
	        > .inner {
				align-items: flex-start;
				display: flex;
				flex-wrap: nowrap;
				justify-content: flex-start;
				padding: 60px 65px 65px;
			}

		}

    }

		/***************
		* Content
		***************/
        main.content {
			display: block;

			/* Title */
			> .title {
				@extend %ts--7;
				font-family: $ff--1;
				font-weight: $fw--semibold;
    			letter-spacing: -0.0225em;
				margin: -8px 0 17px;

				a {
					color: $c--24;
					text-decoration: none;
	                transition: all .2s ease-in-out;

	                &:hover { opacity: .6; }

				}
			}

			/* Description */
			.description { margin-bottom: 30px; }

				p:not(:last-of-type) { margin-bottom: 30px; }

			/* Lists */
			.listing {

				/* Single list divided into two columns */
                @media (--xl-up) {
    				&.listing--single {

    					ul.list {
    					    columns: 2;
    					    column-gap: 40px;
    					}

    				}
                }

				/* Has sub-sections/categories */
				&.listing--multiple {

					.col {
						display: block;
						margin-bottom: 45px;
						padding-right: 40px;
						vertical-align: top;

						> span.title {
							@extend %ts--12;
							color: $c--24;
							font-family: $ff--1;
							display: block;
							font-weight: $fw--semibold;
							letter-spacing: -.0175em;
							margin-bottom: 26px;
						}

					}

					@media (--xl-up) {
						align-items: flex-start;
						display: flex;
						flex-wrap: wrap;
						justify-content: flex-start;

						.col {
							display: inline-block;
							flex: 1 0 50%;
							margin-bottom: 35px;
							max-width: 50%;
						}

					}

				}

				/* Demo */
				+ .listing { margin-top: 50px; }

			}

				/* List */
				ul.list {
					font-size: 0;
					width: 100%;

					li {
						display: block;
						margin-bottom: 16px;
						vertical-align: top;
					}

						a {
							@extend %ts--4;
							background-color: transparent;
							background-position: top 3px left;
							background-repeat: no-repeat;
							background-size: 10px 15px;
							color: $c--9;
							display: inline-block;
							font-family: $ff--1;
							font-weight: $fw--semibold;
                            line-height: 1.2rem;
							min-height: 11px;
							padding: 2px 0 0 24px;
							text-decoration: none;
        	                transition: all .15s ease;

        	                &:hover { color: rgba($c--9, .6); }

						}

				}

			@media (--lg-up) {
        		display: inline-block;
				flex: 1 1 calc(100% - 356px);
				padding-right: 100px;
				vertical-align: top;

				/* Description */
				.description { margin-bottom: 55px; }

			}

		}

		/***************
		* Testimonial (sidebar)
		***************/
        aside.testimonial {
			background: #fff;
			box-shadow: 0 1px 0 0 #ADBAC1;
			display: block;
			margin-top: 40px;
			position: relative;

			/* Image */
			figure.image {
				display: none;
				width: 100%;

				img {
					max-width: 100%;
					size: 100% auto;
				}

			}

			/* Text area */
			.textarea {
				padding: 30px 28px 40px 30px;

				.quote {
					@extend %ts--11;
					font-family: $ff--2;
					overflow: visible;
					position: relative;

					&::before {
						color: inherit;
						content: "\201C";
						font-size: 22px;
						position: absolute 0px * * -10px;
					}

				}

				.person {
					margin-top: 30px;

					> .title {
						color: $c--black;
						font-size: 13px 17px;
						font-weight: $fw--bold;
						display: block;
						margin-bottom: 5px;
						letter-spacing: -.16px;
					}

					> .sub {
						color: $c--5;
						display: block;
						font-size: 14px 20px;
						font-weight: $fw--reg;
						letter-spacing: -.17px;
					}

				}

			}

			@media (--lg-up) {
            	display: inline-block;
				flex: 0 0 356px;
				margin-top: 0;
				max-width: 356px;
				vertical-align: top;

				/* Image */
				figure.image { display: block; }

				/* Text area */
				.textarea { padding: 32px 38px 45px 40px; }

			}

		}

	/***************
	* Colours
	***************/
    &.programme--undergrad {
		> .container > .inner { background-color: rgba($c--programme-undergrad, .07); }
		main.content ul.list a { background-image: url('/wbs2020/media/dist/img/header-subpane-arrow-desktop/programme-undergrad.svg'); }
		aside.testimonial {
			box-shadow: 0 1px 0 0 $c--programme-undergrad;
			.quote { color: $c--programme-undergrad; }
		}
	}
	&.programme--postgrad {
		> .container > .inner { background-color: rgba($c--programme-postgrad, .07); }
		main.content ul.list a { background-image: url('/wbs2020/media/dist/img/header-subpane-arrow-desktop/programme-postgrad.svg'); }
		aside.testimonial {
			box-shadow: 0 1px 0 0 $c--programme-postgrad;
			.quote { color: $c--programme-postgrad; }
		}
	}
	&.programme--mba {
		> .container > .inner { background-color: rgba($c--programme-mba, .07); }
		main.content ul.list a { background-image: url('/wbs2020/media/dist/img/header-subpane-arrow-desktop/programme-mba.svg'); }
		aside.testimonial {
			box-shadow: 0 1px 0 0 $c--programme-mba;
			.quote { color: $c--programme-mba; }
		}
	}
    &.programme--doctoral {
		> .container > .inner { background-color: rgba($c--programme-doctoral, .07); }
		main.content ul.list a { background-image: url('/wbs2020/media/dist/img/header-subpane-arrow-desktop/programme-doctoral.svg'); }
		aside.testimonial {
			box-shadow: 0 1px 0 0 $c--programme-doctoral;
			.quote { color: $c--programme-doctoral; }
		}
	}
	&.programme--exec {
		> .container > .inner { background-color: rgba($c--programme-exec, .07); }
		main.content ul.list a { background-image: url('/wbs2020/media/dist/img/header-subpane-arrow-desktop/programme-exec.svg'); }
		aside.testimonial {
			box-shadow: 0 1px 0 0 $c--programme-exec;
			.quote { color: $c--programme-exec; }
		}
	}
	&.programme--london {
		> .container > .inner { background-color: rgba($c--programme-london, .07); }
		main.content ul.list a { background-image: url('/wbs2020/media/dist/img/header-subpane-arrow-desktop/programme-london.svg'); }
		aside.testimonial {
			box-shadow: 0 1px 0 0 $c--programme-london;
			.quote { color: $c--programme-london; }
		}
	}

	/***************
	* Alternating layout
	***************/
	@media (--lg-up) {
		&:nth-of-type(odd) {
			main.content {
				order: 1;
				padding-left: 100px;
				padding-right: 0;
			}
			aside.testimonial { order: 0; }
		}
	}

    /***************
	* Lazy-loading
	***************/
	&.view-detect {
		opacity: 0;
		transition: all 1.2s ease-in-out-quart 0s;

		/**
		* Loaded
		*/
		&.viewed { opacity: 1; }

	}

}



/* END OF DOCUMENT */
