/**************************************************************
* Financial tabs
**************************************************************/

section.financial-tabs {
    display: block;
    margin-bottom: 40px !important;
    width: 100%;

    /***************
    * Navigation
    ***************/
    /**
    * Tabs (desktop)
    */
    nav.tabs {
        display: none;

        ul {
            align-items: stretch;
            display: flex;
            justify-content: flex-start;
            margin: 0;

            li {
                @extend %ts--9;
                font-family: $ff--1;
                font-weight: $fw--bold;
                letter-spacing: .72px;
                text-transform: uppercase;

                a {
                    border-top: 2px solid #fff;
                    color: $c--black;
                    padding: 18px 20px 21px;
                    transition: color .3s ease-in-out-quart;

                    /* Hover */
                    &:hover { background: $c--tone-4; }

                    /* Active */
                    &.active {
                        border-color: #00A99F;
                        color: $c--black $c--tone-4;
                    }

                }
            }

        }

        @media (--xxl-up) {
            display: block;

            li {
                display: inline-block;

                a {
                    display: inline-block;
                    padding: 0 30px;
                }

            }

        }

    }

    /**
    * Accordions (mobile)
    */
    .item {
        overflow: hidden;
        position: relative;

        /* Title */
		&::before {
            @extend %ts--9;
            align-items: center;
            background: $c--tone-6 url('/wbs2020/media/dist/img/header-subpane-arrow-desktop.svg') no-repeat left 20px top 24px / 10px 15px;
            color: #1C1E20;
            content: attr(data-title);
    		display: flex;
    		justify-content: flex-start;
    		font-family: $ff--1;
    		font-size: 11px;
    		font-weight: $fw--bold;
    		letter-spacing: .72px;
    		min-height: 60px;
    		padding: 0 $gutter--mobile 0 38px;
    		position: relative;
    		text-transform: uppercase;
            width: 100%;
        }

		/* Arrow */
		&::after {
			background: transparent url('/wbs2020/media/dist/img/header-subpane-arrow-desktop.svg') no-repeat center / 10px 15px;
			content: "";
			margin: auto 0;
			position: absolute 23px 20px * *;
			size: 10px 15px;
			transition: transform .5s ease;
			transform-origin: center;
			transform: rotate(90deg);
		}

        /**
        * Active
        */
        &.active {

            &::before { color: $c--black; }

            &::after { transform: rotate(-90deg); }

        }

        @media (--xxl-up) {
            &::before, &::after { display: none; }
        }

        @media (--xxl-down) {
            box-shadow: 0 1px 0 0 #ADBAC1;

            &:not(:last-of-type) { margin-bottom: 3px; }

        }

    }

    /***************
    * Tabs content
    ***************/
    .tabbed-content {
        width: 100%;

        /* Item */
        .item .item-content {
            background: $c--tone-6;
            height: 0;
            opacity: 0;
            overflow: hidden;
            position: relative;
            visibility: hidden;

            > .inner {
                display: block;
                padding: 0 22px 45px;
                width: 100%;
            }

        }

            /**
            * Finance table
            */
            ul.financial-crumb {
                margin-bottom: 40px;
                padding: 20px 0 0;

                @media only screen and (min-width: 1150px) { margin-bottom: 0; }

                li {
                    display: block;
                    position: relative;
                    text-align: center;
                    vertical-align: top;

                    &:not(:last-of-type) {
                        margin-bottom: 5px;
                        padding-bottom: 42px;

                        &::after {
                            background: transparent url('../img/financial-crumb-arrow.svg') no-repeat center / 14px 52px;
                            content: "";
                            margin: 0 auto;
                            position: absolute * 0 0;
                            size: 14px 52px;
                            text-align: center;
                            transform-origin: center;
                            transform: rotate(90deg);
                        }

                    }

                    span {
                        display: block;
                        font-family: $ff--1;

                        &.label { @extend %ts--4; }

                        &.figure {
                            @extend %ts--18;
                            color: $c--26;
                        }

                    }

                    &:last-of-type {
                        background: #EBEDEF;
                        padding: 28px 20px 25px;

                        span.figure { font-weight: $fw--semibold; }

                    }

                    @media only screen and (min-width: 1150px) {
                        display: inline-block;
                        margin-bottom: 80px;
                        text-align: left;

                        &:not(:last-of-type) {
                            margin: 0 25px 0 0;
                            padding: 0 42px 0 0;

                            &::after {
                                margin: 0;
                                position: absolute 15px 0 auto auto;
                                text-align: right;
                                transform: none;
                            }

                        }

                        &:last-of-type {
                            background: transparent;
                            margin-right: 0;
                            padding: 0;
                        }

                    }

                }

            }

            /**
            * Two column list
            */
            .two-col-list {

                @media only screen and (min-width: 960px) and (max-width: 1024px), (min-width: 1400px) {
                    align-items: stretch;
                    display: flex;
                    justify-content: space-between;

                    > .col { flex: 0 0 calc(50% - 20px); }

                }

                    .title {
                        @extend %ts--19;
                        color: $c--26;
                        font-family: $ff--1;
                        font-weight: $fw--semibold;
                        margin-bottom: 20px;
                    }

                    ul, ol {
                        @extend %textarea--bullets;
                        color: $c--5;
                        font-size: 0;

                        li {
                            @extend %ts--11;
                            display: block;
                        }

                    }

                    ol {
                        padding-left: 17px;

                        > li {
                            list-style: decimal !important;
                            padding-left: 13px;

                            &::before { display: none; }

                        }

                        ol li {  list-style: lower-latin !important; }

                    }

            }

            /**
            * Text area
            */
            .textarea {
                @extend %textarea--1;

                /* Buttons */
                a.button { @extend %btn--1; }

                /* Data table */
                .data-table { @extend %table--1; }

            }

        /**
        * Active
        */
        .item.active .item-content {
            height: auto;
            opacity: 1;
            overflow: visible;
            visibility: visible;
        }

        @media (--xxl-up) {
            min-height: 0;

            /* Item */
            .item {
                min-height: 0;

                .item-content {
                    align-items: flex-start;
                    display: flex;
                    justify-content: flex-start;

                    > .inner { padding: 40px 40px 45px; }

                }

            }

        }

    }

    /***************
	* Lazy-loading
	***************/
	&.view-detect {
		opacity: 0;
		transition: all 1.2s ease-in-out-quart 0s;

		/**
		* Loaded
		*/
		&.viewed { opacity: 1; }

	}

}



/* END OF DOCUMENT */
