/**************************************************************
* Testimonial tabs (multi-carousel)
**************************************************************/

section.testimonial-tabs {
    display: block;
    margin-bottom: 40px !important;
    position: relative;
    width: 100%;

    @media (--sm-down) {
        margin: * -$gutter--mobile;
        width: calc(100% + calc($gutter--mobile * 2));
    }

    /**
    * Title
    */
    header .title {
        @extend %ts--13;
        color: $c--24;
        display: block;
        font-family: $ff--1;
        font-weight: $fw--semibold;
        letter-spacing: -.47px;
        text-align: center;
        margin: 0 auto 30px;

        @media (--sm-up) {
            margin: 0 0 30px;
            text-align: left;
        }

        @media (--sm-down) {
            font-size: 32px !important;
            margin-bottom: 21px;
            padding: 0 $gutter--mobile;
        }

    }

    /**
    * Main wrapper
    */
    main {
        display: block;

        @media (--sm-up) {
            align-items: stretch;
            display: flex;
            justify-content: flex-start;
        }

    }

        /***************
        * Logos
        ***************/
        .logos {
            position: relative;

            .item-inner {
                align-items: center;
                display: flex;
                justify-content: center;
                padding: 15px;
                text-align: center;
                width: 100%;
            }

                img {
                    display: block;
                    margin: auto;
                    text-align: center;
                    transition: all .3s ease-in-out;
                }

                span.text {
                    color: $c--22;
                    display: block;
                    font-family: $ff--1;
                    font-size: 15px;
                    font-weight: $fw--bold;
                    margin: 0 auto;
                    text-align: center;
                    transition: all .3s ease-in-out;
                }

            @media (--sm-up) {
                flex: 0 0 175px;
                max-width: 175px;

                &::before {
                    background: #D9D9D9;
                    content: "";
                    position: absolute 0 0 5px *;
                    size: 2px calc(100% - 5px);
                    z-index: 0;
                }

                .logos-carousel { z-index: 1; }

                    .slick-list { overflow: visible !important; }

                        .slick-track {
                            align-items: stretch;
                            display: flex;
                            justify-content: flex-start;
                            flex-direction: column;
                            transform: none !important;
                        }

                            .slick-slide {
                                appearance: none;
                                border: 0 none;
                                box-shadow: none;
                                cursor: pointer;
                                flex: 0 0 113px;
                                height: 113px;
                                outline: 0 none;

                                > div { width: calc(100% - 6px); }

                                    .item-inner {
                                        background: #fff;
                                        border: 2px solid #D9D9D9;
                                        min-height: 108px;
                                    }

                                        img {
                                            max-height: 62px;
                                            max-width: 110px;
                                            opacity: .58;
                                        }

                                        span.text { opacity: .37; }

                                /* First */
                                &:first-of-type .item-inner {
                                    position: relative;

                                    &::before {
                                        background: #fff url('../img/testimonials-carousel-first-tab-edge.svg') no-repeat center / 34px;
                                        content: "";
                                        position: absolute -2px * * -2px;
                                        size: 34px;
                                        z-index: 1;
                                    }

                                }

                                /* Last */
                                &:last-of-type {
                                    flex-basis: 108px;
                                    height: 108px;
                                }

                                /**
                                * Current
                                */
                                &.slick-current {

                                    > div {
                                        width: 100%;

                                        .item-inner {
                                            border-right: 2px solid #fff;
                                            padding-right: 21px;
                                        }

                                            img, span.text { opacity: 1; }

                                    }

                                }

                            }

            }

            @media (--sm-down) {
                margin-bottom: 20px;

                .slick-list {
                    margin: 0 -15px;
                    padding: 15px * !important;
                }

                    .slick-slide { margin: 0 15px; }

                        .item-inner {
                            background: $c--tone-4;
                            min-height: 135px;
                            transition: all .3s ease-in-out;
                        }

                            img {
                                max-height: 90px;
                                max-width: 150px;
                            }

                    .slick-center .item .item-inner { transform: scale(1.08); }

            }

        }

        /***************
        * Content
        ***************/
        .content {

            @media (--sm-up) {
                flex: 0 0 calc(100% - 175px);
                max-width: calc(100% - 175px);
                padding-bottom: 5px;

                .slick-slider {
                    border-bottom: 2px solid #D9D9D9;
                    border-right: 2px solid #D9D9D9;
                    border-top: 2px solid #D9D9D9;
                    height: 100%;
                }

                    .item { padding: 36px 80px 60px 45px; }

            }

            @media (--sm-down) {

                .slick-slide:not(.slick-current) {

                    blockquote { opacity: 0; }

                }

            }

            /**
            * Slide content
            */
            blockquote {
                padding: 0 calc($gutter--mobile * 2);
                transition: all .3s ease-in-out;

                @media (--sm-up) { padding: 0; }

            }

                /**
                * Quote
                */
                .quote {
                    @extend %ts--17;
                    color: $c--21;
                    font-family: $ff--2;
                    overflow: visible;
                    position: relative;

                    &::before {
                        color: inherit;
                        content: "\201C";
                        font-size: 22px;
                        position: absolute 0px * * -10px;
                    }

                    p:not(:last-of-type) { margin-bottom: 17px; }

                }

                /**
                * Person
                */
                .person {
                    font-size: 0;
                    margin-top: 30px;

                    /* Image */
                    .avatar {
                        @extend %cover-bg;
                        border-radius: 100%;
                        display: inline-block;
                        margin-right: 17px;
                        size: 50px;
                        vertical-align: top;
                    }

                    /* Text */
                    .text {
                        display: inline-block;
                        vertical-align: top;
                        width: calc(100% - 67px);

                        .title {
                            color: $c--black;
                            font-size: 13px 17px;
                            font-weight: $fw--bold;
                            display: block;
                            margin-bottom: 5px;
                            letter-spacing: -.16px;
                        }

                        .sub {
                            color: $c--5;
                            display: block;
                            font-size: 14px 20px;
                            font-weight: $fw--reg;
                            letter-spacing: -.17px;
                        }

                    }

                }

                /**
                * Dots
                */
                ul.slick-dots {
                    display: block;
                    margin-top: 26px;
                    text-align: center;

                    li {
                        display: inline-block;
                        margin: 0;

                        button {
                            appearance: none;
                            color: transparent;
                            cursor: pointer;
                            display: block;
                            font-size: 0;
                            outline: none;
                            overflow: hidden;
                            position: relative;
                            size: 24px;
                            text-indent: -999px;

                            &::after {
                                background: rgba($c--7, .14);
                                border-radius: 100%;
                                content: "";
                                margin: auto;
                                position: absolute 0;
                                size: 7px;
                                transition: all .2s ease-in-out;
                            }

                        }

                        /* Active */
                        &.slick-active button::after { background-color: $c--7; }

                    }

                }

        }

    /***************
	* Lazy-loading
	***************/
	&.view-detect {
		opacity: 0;
		transition: all 1.2s ease-in-out-quart 0s;

		/**
		* Loaded
		*/
		&.viewed { opacity: 1; }

	}

}



/* END OF DOCUMENT */
