/**************************************************************
* Simple image
**************************************************************/

section.single-image {
    margin-bottom: 40px !important;

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        text-align: center;
    }

    /***************
    * Lazy-loading
    ***************/
    &.view-detect {
        opacity: 0;
        transition: all 1.2s ease-in-out-quart 0s;

        /**
        * Loaded
        */
        &.viewed { opacity: 1; }

    }
    
}



/* END OF DOCUMENT */
