/**************************************************************
* Application steps
**************************************************************/

section.application-steps {

    /**
    * Header
    */
    > header {
        margin-bottom: 55px;

        .title {
            @extend %ts--1;
            color: $c--24;
            display: block;
            font-family: $ff--1;
            margin-bottom: 12px;
        }

        .description {
            color: $c--5;

            p:not(:last-of-type) { margin-bottom: 20px; }

        }

    }

        /**
        * Item
        */
        article.item {
            font-size: 16px;
            margin-bottom: 25px;
            transition: all 120ms ease;

            header {
                display: block;
                margin-bottom: 20px;
                overflow: hidden;
                padding-bottom: 73.16%;
                position: relative;
                size: 100% 0;

                .label {
                    background: rgba($c--7, .56);
                    font-size: 0;
                    position: absolute * 0 0;
                    width: 100%;
                    z-index: 1;
                }

                    span {
                        @extend %ts--3;
                        align-items: center;
                        color: #fff;
                        display: inline-flex;
                        font-family: $ff--1;
                        font-weight: $fw--bold;
                        letter-spacing: 1px;
                        min-height: 55px;
                        text-transform: uppercase;

                        &.count {
                            background-color: #008D79;
                            justify-content: center;
                            width: 55px;
                        }

                        &.title {
                            justify-content: flex-start;
                            padding-left: 28px;
                            width: calc(100% - 55px);
                        }

                    }

                figure.image {
                    @extend %absolute-fill;
                    @extend %cover-bg;
                    z-index: 0;
                }

            }

            main.content {
                @extend %ts--8;
                color: $c--5;
                padding: 0;

                a {
                    color: $c--5;
                    font-weight: $fw--bold;
                    text-decoration: none;
                }

                b, strong { font-weight: $fw--bold; }

                p:not(:last-of-type) { margin-bottom: 18px; }

                ul, ol {
                    @extend %textarea--bullets;
                    padding-top: 20px;

                    li { margin-bottom: 0 !important; }

                }

                ol {
                    padding-left: 17px;

                    > li {
                        list-style: decimal !important;
                        padding-left: 13px;

                        &::before { display: none; }

                    }

                    ol li {  list-style: lower-latin !important; }

                }

                .button {
                    @extend %btn--4;

                    &:hover { opacity: .55; }

                }

                @media (--sm-up) {
                    padding: 0 25px;

                    p:not(:last-of-type) { margin-bottom: 20px; }

                }

            }

            /**
            * Last
            */
            &:last-of-type {

                header {

                    .label { background: #008D79; }
                    span.count { display: none; }

                }

            }

        }

    /* Negative top margin */
    &.top-minus-margin { margin-top: -8px; }

    /***************
	* Layout
	***************/
    > main.list {
        font-size: 0;
        width: 100% !important;
    }

        .grid-sizer, article.item { width: 100%; }
        .gutter-sizer { width: 0; }

        @media (--sm-up) {

            article.item {
                margin-bottom: 35px;

                &:nth-of-type(2) { margin-top: 40px; }

            }
            .grid-sizer, article.item { width: calc(50% - 20px); }
            .gutter-sizer { width: 40px; }

        }

    /***************
	* Lazy-loading
	***************/
	&.view-detect {
		opacity: 0;
		transition: all 1.2s ease-in-out-quart 0s;

		/**
		* Loaded
		*/
		&.viewed { opacity: 1; }

	}

}



/* END OF DOCUMENT */
