/**************************************************************
* Expertise Section
**************************************************************/
.expertise-section {

    .c--tone-green1-1 { background-color: $c--13; }
    .c--tone-green1-2 { background-color: $c--14; }
    .c--tone-green1-3 { background-color: $c--15; }
    .c--tone-green1-4 { background-color: $c--16; }
    .c--tone-green1-5 { background-color: $c--17; }
    .c--tone-brown1-1 { background-color: $c--18; }
    .c--tone-blue1-1 { background-color: $c--19; }
    .c--tone-purple1-1 { background-color: $c--20; }

    @media only screen and (max-width: 1024px) { background-color: $c--tone-3; }

    .container { @extend %wrapper--1; }

    .section-title {
        @extend %ts--15;
        color: $c--21;
        font-family: $ff--1;
        font-weight: $fw--semibold;
        letter-spacing: -.01875em;
        margin-bottom: 10px;

        @media (--sm-up) { font-size: 32px; }

    }

    .section-subtitle { margin: 0; }

    /**
    * Wrapper
    */
    .inner {
        background-color: $c--tone-3;
        display: block;
        overflow: hidden;
        position: relative;

        @media (--lg-up) {
            align-items: stretch;
            display: flex;
            justify-content: flex-start;
            flex-wrap: nowrap;
        }

    }

        /**
        * Left side
        */
        aside.expertise-caption {
            box-sizing: border-box;
            display: block;
            padding: 28px 0;
            width: 100%;

            @media (--lg-up) {
                display: inline-block;
                flex: 0 0 50%;
                max-width: 50%;
                padding: 55px 50px 37px 58px;
                vertical-align: top;
            }

            .section-subtitle {
                max-width: 440px;
                margin-bottom: 40px;

                @media (--xs-down) { margin-bottom: 25px; }

            }

        }

            .expertise-caption-items {
                padding: 0;
                margin: 0;
                list-style: none;

                @media (--lg-down) {
                    display: flex;
                    flex-wrap: wrap;
                    padding-bottom: 13px;
                }

                @media (--xs-down) {
                    padding-bottom: 20px;
                }

                li {
                    position: relative;
                    padding-left: 28px;
                    margin-bottom: 9px;
                    color: $c--10;
                    font-family: $ff--1;
                    font-size: 11px;
                    font-weight: $fw--bold;
                    letter-spacing: 0.72px;
                    line-height: 24px;
                    text-transform: uppercase;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;

                    @media (--lg-down) {
                        max-width: 50%;
                        flex: 0 0 50%;
                    }

                    @media (--sm-down) {
                        max-width: 100% !important;
                        flex: 0 0 100% !important;
                    }

                    @media (--xs-down) {
                        font-size: 11px;
                        margin-bottom: 12px;
                    }

                    &::before {
                        border-bottom: 2.4px solid #0B63AF;
                        border-right: 2.4px solid #0B63AF;
                        content: '';
                        position: absolute 7px * * -2px;
                        size: 10px;
                        transform: rotate(-45deg);
                    }

                    a {
                        color: rgba($c--10, .9);
                        text-decoration: none;
                    }

                    &:hover a {
                        color: #289EFF;
                    }

                }
            }

            .expertise-footer {
                padding-top: 27px;
                border-top: 1px solid $c--3;
                margin-top: 27px;

                @media (--xs-down) {
                    margin-top: 15px;
                    padding-top: 17px;
                }
            }

                .link-view-all {
                    @extend %btn--1;
                    margin-left: 0;
                    transition: all .3s ease-in-out;

                    @media (--xs-down) { font-size: 11px; }

                }

        /**
        * Right side
        */
        aside.expertise-content {
            box-sizing: border-box;
            display: none;
            position: relative;
            width: 100%;

            @media (--lg-up) {
                display: inline-block;
                flex: 0 0 50%;
                max-width: 50%;
                vertical-align: top;
            }

        }

            .expertise-content-item {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
                opacity: 0;
                position: absolute 0 * * 0;
                transition: all 1s ease-in-out;

                &.active { opacity: 1; }

                figure.image {
                    height: calc(100% - 155px);
                    overflow: hidden;
                    position: relative;

                    @media (--xl-down) { height: calc(100% - 180px); }

                    .src {
                        @extend %absolute-fill;
                        @extend %cover-bg;
                    }

                }

                .footer {
                    height: 153px;

                    @media (--xl-down) { height: 180px; }

                    .link {
                        position: relative;
                        top: 50px;
                        height: 100%;
                        box-sizing: border-box;
                        display: block;
                        position: relative;
                        padding: 25px 150px 10px 52px;
                        text-decoration: none;
                        transition: all 0.5s ease-in-out;

                        &::after {
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 130px;
                            height: 100%;
                            background-color: rgba(255, 255, 255, 0.1);
                            background-image: url('/wbs2020/media/dist/img/ic-angle-right.svg');
                            background-repeat: no-repeat;
                            background-size: 20px;
                            background-position: 50%;
                        }


                        .title {
                            margin-bottom: 5px;
                            display: block;
                            color: $c--white;
                            font-family: $ff--1;
                            font-size: 22px;
                            font-weight: $fw--semibold;
                            letter-spacing: -0.39px;
                            line-height: 36px;
                        }

                        .description {
                            color: $c--white;
                            display: block;
                            font-size: 14px;
                            font-weight: 300;
                            letter-spacing: -0.17px;
                            line-height: 24px;
                            opacity: .76;
                        }

                    }

                }

                /* Active/current */
                &.active .link { top: 0; }

            }

    /***************
	* Lazy-loading
	***************/
	&.view-detect {
		opacity: 0;
		transition: all 1.2s ease-in-out-quart 0s;

		/**
		* Loaded
		*/
		&.viewed { opacity: 1; }

	}

}



/* END OF DOCUMENT */
