/**************************************************************
* Subscribe Section
**************************************************************/
section.subscribe-section {
    margin-bottom: 90px;
    min-height: 400px;

    @media (--sm-down) {
        margin-bottom: 40px;
    }

    .container { @extend %wrapper--1; }

    .row-flex {
        display: flex;
        flex-wrap: wrap;

        @media (--md-up) { align-items: stretch; }

    }

    .subscribe-section .container,
    .subscribe-row-flex {
        height: 100%;
    }

    .subscribe-image {
        flex: 0 0 100%;
        overflow: hidden;
        padding-bottom: 58.75%;
        position: relative;
        size: 100% 0;

        figure.image {
            @extend %absolute-fill;
            @extend %cover-bg;
        }

        @media (--xl-up) {
            max-width: 740px;
            flex-basis: 740px;
        }

        @media (--md-xl) {
            max-width: 60%;
            flex-basis: 60%;
        }

        @media (--md-up) {
            height: auto;
            padding-bottom: 0;
        }

    }

    .subscribe-caption {
        background-color: $c--tone-4;
        box-sizing: border-box;
        flex: 0 0 100%;
        padding: 30px 20px;
        width: 100%;

        @media (--xl-up) {
            flex-basis: calc(100% - 740px);
            max-width: calc(100% - 740px);
            padding: 75px 77px 70px 56px;
        }

        @media (--md-xl) {
            flex-basis: 40%;
            max-width: 40%;
            padding: 40px;
        }

    }
    .subscribe-title {
        margin: 0 0 14px;
        color: $c--3;
        font-family: $ff--1;
        font-size: 30px;
        font-weight: $fw--semibold;
        letter-spacing: -0.39px;
        line-height: 36px;

        @media (--xs-down) {
            font-size: 27px;
        }
    }
    .subscribe-description {
        margin: 0 0 30px;
    }
    .subscribe-button {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $c--white;
        font-family: $ff--1;
        font-size: 11px;
        font-weight: $fw--bold;
        letter-spacing: 1.07px;
        line-height: 28px;
        text-transform: uppercase;
        text-decoration: none;
        text-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
        background-color: $c--3;
        transition: all 0.3s ease-in-out;

        &:hover {
             background-color: $c--6;
         }
    }

    /***************
	* Lazy-loading
	***************/
	&.view-detect {
		opacity: 0;
		transition: all 1.2s ease-in-out-quart 0s;

		/**
		* Loaded
		*/
		&.viewed { opacity: 1; }

	}
    
}



/* END OF DOCUMENT */
