/**************************************************************
* Our Rating Section
**************************************************************/
.our-ratings-section {
    padding: 33px 0 32px;
    background-color: $c--tone-4;

    @media (--md-up) {
        padding: 41px 0 32px;
    }

    @media (--lg-up) {
        padding: 70px 0 80px;
    }

    .container { @extend %wrapper--1; }

    .section-title {
        @extend %ts--15;
        color: $c--21;
        font-family: $ff--1;
        font-weight: $fw--semibold;
        letter-spacing: -.01875em;
        margin: 0 0 10px;

        @media (--md-up) { font-size: 42px; }

        @media (--sm-md) { font-size: 32px; }

    }

    .visible-md { display: none; }

    .our-ratings-header {
        padding-bottom: 35px;

        .section-title { margin: 0; }

        .link-view-all { margin-top: 20px; }

        @media (--lg-up) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-bottom: 43px;

            .link-view-all { margin-top: 0; }

        }

    }

    .our-ratings-items {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
    }

    .our-ratings-item {
        background-color: $c--white;
        border-bottom: 2px solid #9CB5CB;
        width: 100%;
        box-sizing: border-box;

        @media (--xl-up) {
            max-width: 25%;
            flex: 0 0 25%;

            &:not(:last-of-type) { border-right: 2px solid $c--tone-7; }

        }

        @media (--sm-xl) {
            max-width: 50%;
            flex: 0 0 50%;

            &:nth-of-type(2n+1) { border-right: 2px solid $c--tone-7; }

        }

        .wrap {
            display: flex;
            flex-wrap: wrap;
            height: 100%;

            .image {
                align-items: flex-start;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                flex: 0 0 28%;
                max-width: 28%;
                padding-top: 30px;
                position: relative;
                size: 100%;

                @media (--lg-up) {
                    flex: 0 0 32%;
                    max-width: 32%;
                    padding-top: 31px;
                }

                span.figure {
                    color: #fff $c--3;
                    border-radius: 100%;
                    display: block;
                    font-family: $ff--2;
                    font-size: 18px 1em;
                    font-weight: $fw--bold;
                    padding-top: 6px;
                    position: absolute 31px calc(50% - 35px) * *;
                    size: 28px;
                    text-align: center;
                    user-select: none;

                    @media (--xl-up) { right: 18px; }

                    @media (--lg-xl) { right: 8px; }

                    @media (--lg-up) {
                        font-size: 20px;
                        padding-top: 7px;
                        size: 32px;
                        top: 33px;
                    }

                }

            }

            .caption {
                box-sizing: border-box;
                flex: 0 0 68%;
                font-size: 0;
                height: 100%;
                max-width: 68%;
                padding: 32px 0 35px;
                width: 100%;

                @media (--lg-up) {
                    max-width: 65%;
                    flex: 0 0 65%;
                    padding-top: 36px;
                    padding-bottom: 50px;
                    margin-left: -3px;
                }

            }

        }

        .title {
            color: $c--21;
            font-family: $ff--2;
            font-size: 20px 26px;
            font-weight: $fw--bold;
            letter-spacing: .1px;
            margin: 0 0 11px;
            padding-right: 15px;
            position: relative;

            @media (--lg-up) {
                margin-bottom: 16px;
                min-height: 72px;
                padding-bottom: 20px;

                &::before {
                    background: #979797;
                    content: "";
                    position: absolute * * 0 0;
                    size: 32px 1px;
                }

            }

        }

        b {
            color: $c--black;
            font-size: 14px 18px;
            font-weight: $fw--bold;
            display: block;
            letter-spacing: -0.17px;
            margin: 0;
        }

        p {
            color: $c--black;
            display: block;
            font-size: 14px 16px;
            font-weight: $fw--reg;
            letter-spacing: -0.17px;
            margin: 3px 0 0;
        }

    }

    .link-view-all {
        @extend %btn--1;
        padding-right: 62px;
        transition: all .3s ease-in-out;

        @media (--lg-up) {
            margin-top: 17px;
            padding-right: 55px;
        }

        &:hover {
            @extend %link-hover;
        }
    }

    /***************
	* Lazy-loading
	***************/
	&.view-detect {
		opacity: 0;
		transition: all 1.2s ease-in-out-quart 0s;

		/**
		* Loaded
		*/
		&.viewed { opacity: 1; }

	}

}



/* END OF DOCUMENT */
