/**************************************************************
* Simple calendar (usually in sidebars for open days)
**************************************************************/

section.simple-calendar {

    /**
    * Description
    */
    .description {
		@extend %ts--8;
        color: $c--5;
        display: block;
		font-family: $ff--3;
		letter-spacing: -.18px;
        margin-bottom: 23px;

        p:not(:last-of-type) { margin-bottom: 17px; }

    }

    /**
    * Dates
    */
    ul.dates { font-size: 0; }

        li.date {
            background: $c--tone-6 url('/wbs2020/media/dist/img/simple-calendar-icon.svg') no-repeat left 19px top 18px / 9px 12px;
            box-shadow: 0 1px 0 0 #ADBAC1;
            display: block;
            overflow: hidden;
            padding: 17px 42px;
            position: relative;
            transition: all .25s ease;
            width: 100%;

            &:not(:last-of-type) { margin-bottom: 3px; }

            span {
                display: block;
                position: relative;
                z-index: 1;

                &.title {
                    @extend %ts--9;
                    color: $c--black;
                    font-family: $ff--1;
                    font-weight: $fw--bold;
                    letter-spacing: .72px;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                }

                &.details {
            		@extend %ts--8;
                    color: $c--5;
            		font-family: $ff--3;
            		letter-spacing: -.18px;
                }

            }

            a.permalink { @extend %absolute-anchor; }

            /**
            * Hover
            */
            &:hover {
                background-color: $c--tone-2;

                span.title { text-decoration: underline; }

            }

        }

    /***************
	* Lazy-loading
	***************/
	&.view-detect {
		opacity: 0;
		transition: all 1.2s ease-in-out-quart 0s;

		/**
		* Loaded
		*/
		&.viewed { opacity: 1; }

	}

}



/* END OF DOCUMENT */
