/**************************************************************
* Simple testimonial (usually in sidebars)
**************************************************************/

section.simple-testimonial {
    background: $c--tone-6;
    padding: 22px 38px 32px;

    /**
    * Quote
    */
    .quote {
        @extend %ts--16;
        font-family: $ff--2;
        overflow: visible;
        position: relative;

        &::before {
            color: inherit;
            content: "\201C";
            font-size: 22px;
            position: absolute 0px * * -10px;
        }

    }

    /**
    * Person
    */
    .person {
        font-size: 0;
        margin-top: 30px;

        /* Image */
        .avatar {
            @extend %cover-bg;
            border-radius: 100%;
            display: inline-block;
            margin-right: 17px;
            size: 50px;
            vertical-align: top;
        }

        /* Text */
        .text {
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 67px);

            .title {
                color: $c--black;
                font-size: 13px 17px;
                font-weight: $fw--bold;
                display: block;
                margin-bottom: 5px;
                letter-spacing: -.16px;
            }

            .sub {
                color: $c--5;
                display: block;
                font-size: 14px 20px;
                font-weight: $fw--reg;
                letter-spacing: -.17px;
            }

        }

    }

    /***************
	* Lazy-loading
	***************/
	&.view-detect {
		opacity: 0;
		transition: all 1.2s ease-in-out-quart 0s;

		/**
		* Loaded
		*/
		&.viewed { opacity: 1; }

	}
    
}



/* END OF DOCUMENT */
