/**************************************************************
* News Events Showcase
**************************************************************/
section.news-events-showcase {
    padding-top: 75px;
    margin-bottom: 60px;

    @media (--lg-down) {
        padding: 50px 0;
        margin-bottom: 0;
    }

    @media (--xs-down) {
        padding: 34px 0 0 !important;
    }

    .c--tone-brown1-1 { background-color: $c--18; }
    .c--tone-blue1-1 { background-color: $c--19; }
    .c--tone-purple1-1 { background-color: $c--20; }

    @media (--lg-down) {
        .events-showcase-loop {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .container { @extend %wrapper--1; }

    .row-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .news-showcase {
        border-bottom: 1px solid #f2f2f2;
        margin-bottom: 50px;
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        box-sizing: border-box;

        @media (--lg-up) {
            border-bottom: 0 none;
            max-width: 62.4%;
            flex: 0 0 62.4%;
            margin-bottom: 0;
        }
    }

    .events-showcase {
        box-sizing: border-box;
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        width: 100%;

        @media (--xl-up) { padding-left: 75px; }

        @media (--lg-xl) { padding-left: 40px; }

        @media (--lg-up) {
            max-width: 37.6%;
            flex-basis: 37.6%;
        }

    }

    .news-showcase-header {
        margin-bottom: 55px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (--xs-down) {
            margin-bottom: 36px;
        }
    }

    .showcase-item-image {
        margin-bottom: 17px;

        @media (--xs-down) { margin-bottom: 30px; }

        a {
            display: block;
            overflow: hidden;
            position: relative;
            padding-bottom: 58.235%;
            size: 100% 0;
            transition: all .2s ease-in-out;
        }

            figure.image {
                @extend %absolute-fill;
                @extend %cover-bg;
                transform: none;
                transition: all .2s ease-in-out;
            }

        a:hover figure.image { transform: scale(1.1); }

    }

    .showcase-title {
        @extend %ts--2;
        color: $c--3;
        font-family: $ff--1;
        font-weight: $fw--semibold;
        letter-spacing: -.01875em;

        @media (--md-up) { font-size: 42px; }

        @media (--sm-md) { font-size: 32px; }

    }

    .showcase-item-cats {
        padding: 0;
        margin: 0 0 20px;
        list-style: none;

        li {
            padding-right: 15px;
            font-family: $ff--1;
            font-size: 10px;
            font-weight: 500;
            letter-spacing: 1.08px;
            line-height: 14px;
            color: $c--4;
            text-transform: uppercase;

            .marker {
                display: inline-block;
                width: 8px;
                height: 8px;
                margin-right: 8px;
            }
        }

        a {
            color: $c--4;
            letter-spacing: 0.3px;
            text-decoration: none;
            transition: all .2s ease-in-out;

            &:hover {
                opacity: .6;
                text-decoration: underline;
            }

        }
    }

    .showcase-item-title {
        margin: 0 0 15px;
        max-width: 315px;
        color: $c--3;
        font-family: $ff--1;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 22px;
        text-transform: uppercase;

        @media (--xs-down) {
            margin-bottom: 21px;
        }

        a {
            color: $c--3;
            text-decoration: none;
            transition: all .2s ease-in-out;

            &:hover {
                opacity: .6;
                text-decoration: underline;
            }

        }
    }

    .showcase-item-description {
        margin: 0;
        color: $c--5;
        font-size: 14px;
        letter-spacing: -0.17px;
        line-height: 24px;
    }

    .news-showcase-loop {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .news-showcase-item {
        box-sizing: border-box;
        display: block;
        flex: 0 0 100%;
        margin: 0 0 42px;
        max-width: 100%;
        vertical-align: top;
        width: 100%;

        @media (--xxl-up) {
            display: inline-block;
            flex-basis: calc(50% - 20px);
            max-width: calc(50% - 20px);
        }

        @media (--xls-xxl) {
            display: inline-block;
            flex-basis: calc(50% - 10px);
            max-width: calc(50% - 10px);
        }

        @media (--xls-down) {
            &:not(:last-of-type) {
                border-bottom: 1px solid rgba(151, 151, 151, 0.3);
                padding-bottom: 40px;
            }
        } 

        @media (--xs-up) { margin-bottom: 55px; }

    }

    .events-showcase-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 53px;
    }

    .events-showcase-item {
        border-bottom: 1px solid rgba(151, 151, 151, 0.3);
        display: block;
        flex: 0 0 100%;
        margin-bottom: 5px;
        max-width: 100%;
        padding: 25px 0 27px;
        vertical-align: top;
        width: 100%;

        @media (--lg-up) {
            display: block;
            max-width: 100%;

            &:first-child { padding-top: 0; }

        }

        @media (--xls-lg) {
            display: inline-block;
            flex-basis: calc(50% - 10px);
            max-width: calc(50% - 10px);
        }

        &:last-child { border-bottom: none; }

        .showcase-item-cats { margin-bottom: 20px; }

        .showcase-item-title {
            color: #313334;
            margin-bottom: 15px;
            max-width: 315px;

            @media (--lg-down) {
                max-width: 100%;
            }
        }
    }

    .link-view-all { @extend %btn--1; }

    /***************
	* Lazy-loading
	***************/
	&.view-detect {
		opacity: 0;
		transition: all 1.2s ease-in-out-quart 0s;

		/**
		* Loaded
		*/
		&.viewed { opacity: 1; }

	}

}

/* END OF DOCUMENT */
