.social-networks-fixed {
    display: none;
    font-size: 0;
    padding: 30px 10px 0 10px;
    text-align: center;
    position: fixed 50% * * 0;
    transform: translateY(-50%);
    width: 80px;
    z-index: 999;

    @media (--xxxl-up) {
        display: block;
        position: * * * 45px;
        width: auto;
    }

    @media (--lg-up) { display: block; }

    li {
        margin-bottom: 25px;

        a {
            display: inline-block;
            margin: 0 auto;
            transition: all .3s ease-in-out;

            img {
                opacity: .4;
                transition: all .3s ease-in-out;
                transform: scale(1.5);
                width: 100%;
            }

            &:hover img { opacity: 1; }

        }

        &.twitter img { max-width: 14px; }
        &.fb img { max-width: 9px; }
        &.linkedin img { max-width: 12px; }
        &.youtube img { max-width: 12px; }
        &.instagram img { max-width: 12px; }

    }

}



/* END OF DOCUMENT */
