a.back-to-top-btn {
    font-family: Montserrat,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 202px;
    height: 57px;
    font-weight: $fw--bold;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.21px;
    opacity: 0.8;
    background-color: $c--3;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;
    background-image: url('/wbs2020/media/dist/img/arrow-up.svg');
    background-repeat: no-repeat;
    background-position: 153px 18px;
    background-size: 16px;
    padding-right: 18px;
    transition: all 0.3s ease-in-out;
    right: -2000px;

    &:hover {
        opacity: 1;
    }

    &.show {
         right: 0;
    }

    @media (--xls-down) {
        display: none;
    }
}



/* END OF DOCUMENT */
