/**************************************************************
* Testimonial
**************************************************************/

article.testimonial {
    background: $c--tone-6;
    box-shadow: 0 1px 0 0 #ADBAC1;
    display: block;
    width: 100%;

    /**
    * Image
    */
    figure.image {
        display: block;
        overflow: hidden;
        padding-bottom: 54.55%;
        position: relative;
        size: 100% 0;

        /* Play button */
        .play {
            @extend %ts--9;
            background: rgba(#354045, .63) url('../img/captioned-thumbnail-cta-play.svg') no-repeat center left 20px / 8px;
            color: #fff;
            cursor: pointer;
            font-family: $ff--1;
            font-weight: $fw--bold;
            letter-spacing: .72px;
            padding: 16px 25px 17px 45px;
            position: absolute * * 0 0;
            text-transform: uppercase;
            user-select: none;
            z-index: 1;
        }

        /* Image & link */
        a.src {
            @extend %absolute-fill;
            @extend %cover-bg;
            display: block;
            transform: none;
            transition: all .2s ease-in-out;
            z-index: 0;

            /* Hover */
            &:hover { transform: scale(1.1); }

        }

    }

    /**
    * Caption (text)
    */
    .caption {
        display: block;
        padding: 22px 38px 34px;
        width: 100%;

        @media (--lg-up) { padding-top: 32px; }

    }

        /* Quote */
        .quote {
            @extend %ts--17;
            color: $c--22;
            font-family: $ff--2;
            overflow: visible;
            position: relative;

            &::before {
                color: inherit;
                content: "\201C";
                font-size: 22px;
                position: absolute 0px * * -10px;
            }

        }

        /* Person */
        .person {
            display: inline-block;
            font-size: 0;
            margin-top: 30px;
            vertical-align: top;
            width: calc(100% - 67px);

            /* Image */
            .avatar {
                @extend %cover-bg;
                border-radius: 100%;
                display: inline-block;
                margin-right: 17px;
                size: 50px;
                vertical-align: top;
            }

            /* Text */
            .text {
                display: inline-block;
                vertical-align: top;
                width: calc(100% - 67px);

                .title {
                    color: $c--black;
                    font-size: 13px 17px;
                    font-weight: $fw--bold;
                    display: block;
                    margin-bottom: 5px;
                    letter-spacing: -.16px;
                }

                .sub {
                    color: $c--5;
                    display: block;
                    font-size: 14px 20px;
                    font-weight: $fw--reg;
                    letter-spacing: -.17px;
                }

            }

        }

}


/* END OF DOCUMENT */
