/**************************************************************
* Appointment
**************************************************************/

article.appointment {
    background: $c--tone-6;
    box-shadow: 0 1px 0 0 #ADBAC1;

    @media (--xls-up) { background: transparent; }

    /**
    * Toggle
    */
    header.toggle {
        @extend %ts--3;
        color: $c--24;
        display: block;
        font-family: $ff--1;
        font-weight: $fw--bold;
        letter-spacing: .10175em;
        min-height: 65px;
        padding: 23px 22px;
        position: relative;
        text-transform: uppercase;

		/* Arrow */
		&::after {
			background: transparent url('/wbs2020/media/dist/img/tile-cta-accordion-arrow.svg') no-repeat center / 10px 15px;
			content: "";
			margin: auto 0;
			position: absolute 0 20px 0 *;
			size: 10px 15px;
			transition: transform .5s ease;
			transform-origin: center;
			transform: rotate(90deg);
		}

        @media (--xls-up) {
            display: none;
            min-height: 45px;
            order: 1;
            padding: 25px 22px 10px;

    		&::after { display: none; }

        }

    }

    /**
    * Content
    */
    main.inner {
        display: none;
        padding: 0 22px;

        @media (--xls-up) {
            display: block !important;
            opacity: 1 !important;
            padding: 0;
        }

    }

        /**
        * Image
        */
        figure.image {
            display: block;
            overflow: hidden;
            padding-bottom: 54.55%;
            position: relative;
            size: 100% 0;

            /* Image & link */
            a.src {
                @extend %absolute-fill;
                @extend %cover-bg;
                display: block;
                transform: none;
                transition: all .2s ease-in-out;

                /* Hover */
                &:hover { transform: scale(1.1); }

            }

        }

        /**
        * Caption
        */
        .caption {
            background: $c--tone-6;
            display: block;
            padding: 24px 0 18px;
            width: 100%;

            /* Title */
            span.title {
                @extend %ts--3;
                color: $c--22;
                display: block;
                font-family: $ff--1;
                font-weight: $fw--bold;
                letter-spacing: .10175em;
                margin-bottom: 15px;
                text-transform: uppercase;
            }

            /* Description */
            .description {
                @extend %ts--8;
                color: #494949;
                display: block;
                font-family: $ff--3;
            }

                /* Paragraph text */
                p {
                    display: block;
                    margin-bottom: 25px;
                }

                /* Formatting */
                b, strong {
                    color: $c--black;
                    font-weight: $fw--bold;
                }
                i { font-style: italic; }
                u { text-decoration: underline; }

            @media (--xls-up) { padding: 24px 24px 22px; }

        }

    /**
    * Large (full width)
    */
    &.large {

        @media (--md-up) {
            align-items: center;
            display: inline-flex;
            flex-wrap: nowrap;
            justify-content: flex-start;

            figure.image, .caption { flex: 0 0 50%; }

            figure.image {
                height: auto;
                padding-bottom: 0;
            }

            .caption { padding: 28px * * 40px; }

        }

    }

}


/* END OF DOCUMENT */
