/**************************************************************
* Indexed programme item
**************************************************************/

article.index-programme {
	background: #fff;background: #FFFFFF;
	box-shadow: 0 19px 30px 0 rgba(49,61,85,.11);
	display: block;
	margin-bottom: 12px;
	overflow: hidden;
	padding: 35px 30px 28px;
	position: relative;
	transition: all .2s ease-in-out;
	width: 100%;

	/* Category */
	.category {
		@extend %ts--14;
		color: $c--24;
		font-family: $ff--1;
		font-weight: $fw--semibold;
		display: block;
		letter-spacing: .10225em;
		margin-bottom: 20px;
		padding-left: 18px;
		position: relative;
		text-transform: uppercase;

		&::before {
			background: $c--tone-1;
			content: "";
			position: absolute 3px * * 0;
			size: 7px;
		}

	}

	/* Title */
	.title {
		@extend %ts--3;
		color: $c--24;
		font-family: $ff--1;
		display: block;
		font-weight: $fw--bold;
		margin-bottom: 20px;
		min-height: 22px;

		@media (--xl-up) {
			margin-bottom: 30px;
			min-height: 52px;
		}

	}

	/* Table */
	ul.table {
		@extend %ts--10;
		display: block;
		font-family: $ff--1;
		letter-spacing: .72px;
		text-transform: uppercase;
		user-select: none;

		/* Row */
		li.row {
			align-items: flex-start;
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			padding: 10px 0;

			span {
				display: inline-block;
				flex: 1 0 calc(50% - 10px);
				max-width: calc(50% - 10px);
				vertical-align: top;

				&.label {
					color: $c--black;
                    font-weight: $fw--bold;
					text-align: left;
				}

				&.value {
					color: $c--5;
					text-align: right;
				}

			}

			&:not(:last-of-type) { border-bottom: 1px solid rgba(#979797, .3); }

		}

	}

	/* Permalink */
	a.permalink { @extend %absolute-anchor; }

	/**
	* Hover
	*/
	&:hover {
		box-shadow: 0 19px 30px 0 rgba(49,61,85,.2);

		/* Title */
		.title { text-decoration: underline; }

	}

}


/* END OF DOCUMENT */
