/**************************************************************
* Event
**************************************************************/

article.event {
    background: #fff;
    box-shadow: 0 1px 0 0 #ADBAC1;
    display: block;

    &:not(:last-of-type) { margin-bottom: 12px; }

    @media (--sm-up) {

        &:not(:last-of-type) { margin-bottom: 30px; }

    }

    /***
    * Header
    */
    header {
        align-items: stretch;
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        position: relative;

        aside.date {
            align-items: center;
            color: #fff $c--22;
            display: inline-flex;
            flex: 0 0 80px;
            justify-content: center;
            padding: 0 15px 2px;
            text-align: center;
            vertical-align: top;

            .date-inner { margin: auto; }

                span {
                    display: block;
                    font-family: $ff--1;
                    font-weight: $fw--bold;

                    &.day {
                        font-size: 32px 1em;
                        margin-bottom: 2px;
                    }

                    &.month {
                        font-size: 18px 1em;
                        text-transform: uppercase;
                    }

                }

    		@media (--sm-up) { flex-basis: 94px; }

        }

        .meta {
            align-items: center;
            display: inline-flex;
            flex: 1 1 calc(100% - 80px);
            justify-content: flex-start;
            padding: 12px 20px;
            vertical-align: top;

            .meta-inner { margin: auto 0; }

                span {
                    display: block;

                    &.title {
                        color: $c--22;
                		font-family: $ff--1;
                        font-size: 15px 1.1em;
                		font-weight: $fw--bold;
                		letter-spacing: .10175em;
                        margin-bottom: 1px;
                		text-transform: uppercase;
                    }

                    &.type,
                    &.location {
                        color: #010101;
                        font-size: 14px 1.5em;
                		font-family: $ff--3;
                		letter-spacing: -.18px;
                        line-height: 1.375em;
                    }

                }

    		@media (--sm-up) {
                flex-basis: calc(100% - 94px);
                padding: 16px 20px;

                span.title { line-height: 1.2em; }

                span.type,
                span.location {
                    line-height: 1.7em;
                }

            }

        }

        &::after {
            background: rgba($c--25, .35);
            content: "";
            display: block;
            position: absolute * 0 0;
            size: 100% 1px;
        }

    }

    /***
    * Main (description)
    */
    main {
        padding: 15px 20px 20px;

		@media (--sm-up) { padding: 20px 30px; }

        /* More info (mobile) */
        .more-info {
            display: block;
            margin: 0 auto;
            text-align: center;

            span {
            	@extend %ts--9;
            	color: $c--black;
                cursor: pointer;
                display: inline-block;
            	font-family: $ff--1;
            	font-weight: $fw--bold;
            	letter-spacing: .72px;
            	padding: 5px 30px 5px 5px;
                position: relative;
            	text-transform: uppercase;
                user-select: none;

                /* Arrow */
                &::after {
                    background: transparent url('/wbs2020/media/dist/img/index-accordion-arrow.svg') no-repeat center / 18px 12px;
                    content: "";
                    margin: auto 0;
                    position: absolute 0 0 0 *;
                    size: 18px 12px;
                    transition: transform .5s ease;
                    transform-origin: center;
                    transform: rotate(90deg);
                }

            }

            @media (--lg-up) { display: none; }

        }

        /* Description */
        .description {
            @extend %ts--8;
            font-family: $ff--3;
            letter-spacing: -.18px;

    		@media (--sm-up) { display: block !important; }

        }

    }

    /***
    * Footer (permalink)
    */
    footer {
        padding: 0 30px 30px;

		@media (--sm-up) {
            a.button {
                @extend %btn--4;

                &:hover { color: rgba($c--black, .6); }

            }
        }

		@media (--sm-down) {

            .permalink { text-align: center; }

                a.button {
                    @extend %btn--2;
                    border-color: #282A2A;
                    color: #282A2A;
                    display: inline-flex;
                    margin: 0 auto;
                    min-height: 36px;
                    padding: 8px 20px;
                }

        }

    }

}


/* END OF DOCUMENT */
