/**************************************************************
* Blog
**************************************************************/

article.blog {

	/**
    * Image
    */
    a.image {
        display: block;
        overflow: hidden;
        padding-bottom: 54.55%;
        position: relative;
        size: 100% 0;

        .src {
            @extend %cover-bg;
            @extend %absolute-fill;
            transform: none;
            transition: all .2s ease-in-out;
        }

        /* Hover */
        &:hover .src { transform: scale(1.1); }

    }

    /**
    * Caption
    */
    .text {
        display: block;
        padding: 22px 0 0;
        width: 100%;

        /* Category */
        .category {

            i.colour {
                display: inline-block;
                margin: 2px 11px 0 0;
                size: 8px;
                vertical-align: top;
            }

            span.label {
                @extend %ts--10;
                display: inline-block;
                font-family: $ff--1;
                font-weight: $fw--reg;
                letter-spacing: .72px;
                text-transform: uppercase;
                vertical-align: top;
            }

        }

        /* Title */
        > span.title {
            @extend %ts--3;
            color: $c--22;
    		display: block;
    		font-family: $ff--1;
    		font-weight: $fw--bold;
    		letter-spacing: .10175em;
            margin-bottom: 10px;
    		text-transform: uppercase;
        }

        /* Excerpt */
        .excerpt {
            @extend %ts--8;
            color: #242424;
            display: block;
            font-family: $ff--3;
        }

            /* Paragraph text */
            p {
                display: block;

                &:not(:last-of-type) { margin-bottom: 32px; }

            }

            /* Formatting */
            b, strong {
                color: $c--black;
                font-weight: $fw--bold;
            }
            i { font-style: italic; }
            u { text-decoration: underline; }

    }

}


/* END OF DOCUMENT */
