/**************************************************************
* Modal (FancyBox)
**************************************************************/

.fancybox-slide--html { padding: $gutter--mobile; }

.modal {
    color: $base--text-colour $base--bg-colour;
    max-width: 1220px;
    overflow: hidden;
    padding: 20px calc($gutter--mobile * 2) 55px;
    text-align: left;
    width: 100%;

    @media (--lg-up) { padding: 64px 100px 75px; }
    @media (--sm-lg) { padding: 60px 40px; }

    /**
    * Header
    */
    header.modal-head {
        margin-bottom: 30px;

        @media (--lg-up) { margin-bottom: 40px; }

        /* Title */
        .title {
            color: $c--black;
            display: block;
            font-family: $ff--1;
            font-size: 18px 40px;
            font-weight: $fw--semibold;
        }

    }

    /**
    * Content
    */
    main.modal-content {
        margin: 0 auto;
        max-width: 1020px;
        text-align: left;
        width: 100%;
    }

        /**
        * Text area
        */
        .textarea {  @extend %textarea--1; }

        /**
        * Filters
        */
        .filters {
            font-style: 0;

            .input-group {
                border-bottom: 1px solid rgba(#979797,.2);
                display: block;
                margin-bottom: 5px;

                /* Title */
                > .title {
                    @extend %ts--5;
                    color: #090909;
                    display: block;
                    font-family: $ff--1;
                    font-weight: $fw--bold;
                    letter-spacing: .0725em;
                    padding: 18px 0 20px;
                    position: relative;
                    text-transform: uppercase;

                    /* Arrow */
                    &::after {
                        background: transparent url('/wbs2020/media/dist/img/index-accordion-arrow.svg') no-repeat center / 10px 15px;
                        content: "";
                        margin: auto 0;
                        position: absolute 0 2px 0 *;
                        size: 10px 15px;
                        transition: transform .5s ease;
                        transform-origin: center;
                        transform: rotate(90deg);
                    }

                }

                /* Inputs */
                .group-list {
                    display: none;
                    padding-bottom: 20px;

                    @media (--lg-up) {
                        display: block !important;
                        opacity: 1 !important;
                    }

                }

                    ul {
                        display: block;

                        /* Input */
                        li {
                            @extend %input--filter;
                            display: block;
                            padding: 0;

                            label {
                                background: #F5F6F8;
                                text-align: left;

                                .count {
                                    color: #909090;
                                    position: absolute 15px 20px * *;
                                    text-align: right;
                                }
                            }

                        }

                    }

            }

            /**
            * Submit button
            */
            .submit {
                display: block;
                margin-top: 25px;

                button {
                    @extend %ts--9;
                    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.03);
                    color: #fff #242525;
                    display: inline-block;
                    font-family: $ff--1;
                    font-weight: $fw--bold;
                    letter-spacing: .72px;
                    text-align: center;
                    text-transform: uppercase;
                    transition: all 0.2s ease-in;
                    margin: 0;
                    min-height: 90px;
                    padding: 14px 20px 15px;
                    width: 100%;

                    /* Disabled */
                    &:disabled { opacity: .17; }

                }

            }

        }

    /**
    * Close button
    */
    button.fancybox-button {
        background: transparent url('../img/modal-exit.svg') no-repeat center / 32px;
        margin: 0 auto;
        padding: 0;
        position: absolute 20px 17px * *;
        size: 32px;
        text-align: center;

        svg { display: none; }

        @media (--lg-up) { position: 58px 100px * * }
        @media (--sm-lg) { position: 54px 40px * *; }
        @media (--sm-up) {
            background-size: 48px;
            left: auto;
            margin: 0;
            size: 48px;
            text-align: right;
        }

    }

}

/**
* Background
*/
.fancybox-bg { background: rgba(#272727, .45); }

/**
* Wrapper
*/
@media (--md-up) {
    .fancybox-slide--html { padding: 70px; }
}

/**
* 'Compensate' for scrollbar
*/
body.compensate-for-scrollbar { margin-right: 0 !important; }


/* END OF DOCUMENT */
