/**************************************************************
* Page identification
**************************************************************/

.page-identify {
    box-shadow: 0 0 20px 5px rgba(0,0,0,.5);
    color: #000 #fff;
    cursor: help;
    margin: auto 0;
    max-width: 250px;
    padding: 14px 20px 15px 35px;
    position: fixed 200px 0 * *;
    transform: translateX(calc(100% - 30px));
    transition: all .3s ease;
    user-select: none;
    z-index: 99999;

    &::before {
        background: transparent url('../img/header-subpane-arrow-desktop.svg') no-repeat center / 10px 15px;
        content: "";
        margin: auto 0;
        position: absolute 0 * 0 10px;
        size: 10px 15px;
        transform: rotate(180deg);
        transform-origin: center;
        transition: all .3s ease;
    }

    span {
        display: block;
        line-height: 1.2em;

        &.label {
            font-size: 13px;
            opacity: .5;
        }

        &.page {
            font-size: 15px;
            font-weight: $fw--bold;
            margin-top: 4px;
        }

    }

    &:hover {
        transform: translateX(0);
        &::before { transform: none; }
    }

}


/* END OF DOCUMENT */
