/**************************************************************
* Tables
**************************************************************/

%table--1 {
    display: block;
    margin-bottom: 34px;

    /**
    * Row
    */
    .row {
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;
        padding: 21px 0 21px;

        &:nth-of-type(2n+1) { background: #fff; }
        &:nth-of-type(2n+2) { background: #E6E9EA; }

        /**
        * Column
        */
        .column {
            display: block;
            flex: 0 1 auto;
            padding: 0 24px 8px;

            &:nth-of-type(1) { flex-basis: 100px; }
            &:nth-of-type(2) { flex-basis: calc(100% - 100px); }

            /**
            * Text
            */
            h5 { margin-bottom: 5px; }

            p {
        		@extend %ts--8;
				color: $c--5;
        		font-family: $ff--3;
        		letter-spacing: -.18px;

                &:last-of-type { margin-bottom: 0; }

            }

        }

        @media (--md-lg) {

            /**
            * Column
            */
            .column {
                padding: 0 30px;

                &:nth-of-type(1) { flex-basis: 140px; }
                &:nth-of-type(2) { flex-basis: calc(100% - 140px); }

            }

        }

        @media (--md-down) {

            /**
            * Column
            */
            .column:nth-of-type(1) h5 {
                background: rgba(#354045, .06);
                padding: 8px 14px 6px;
            }

        }

    }

}



/* END OF DOCUMENT */
