/**************************************************************
* Wrappers
**************************************************************/

%wrapper--1 {
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 $gutter--mobile;

    @media (--xl-up) { padding: * 20px; }
    @media (--lg-xl) { padding: * 62px; }

}



/* END OF DOCUMENT */
